{% extends 'proyecto/main.html' %}
{% block content %}
<h4>Agregar integrantes al equipo</h4>
<p>Nombre del equipo:<strong>{{estudiante.equipo.nombre}}</strong><br>
<a href={% url 'modalidad:modificar_nombre_equipo' %}>modificar</a> el nombre de equipo </p>
<p>El equipo está autorizado para ser de <strong>{{estudiante.equipo.cantidad}} integrantes.</strong></p>
<p>Tienes <strong>{{solicitud_mandar}} solitudes</strong> que realizar.</p>
{% include 'modalidad/messages.html' %}
{% if solicitud_mandar > 0 %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="d-flex justify-content-center" style="margin:auto;max-width:400px" >
        <input name="agregar_integrante" class="form-control me-2" type="email"
        placeholder="Registrar Email Tutor" aria-label="Search">
    </div>
        <br>
    <div class="d-flex justify-content-evenly">
        <a class="btn btn-danger" href={% url 'paso3' %}>Cancelar</a>
        <button type="submit" class="btn btn-success" name='enviar'>Enviar</button>
    </div>
</form> 
{% endif %}
{% include 'modalidad/lista_solicitudes.html' %}
{% include 'modalidad/lista_integrantes.html' %}

{% endblock %}
