<h5>Integrantes:</h5>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Estudiante</th>
      <th scope="col">Celular</th>
      {% if grupo == 'docente' or grupo == 'tutor'%}
        <th scope="col">Mensajes</th>
      {% endif %}
      <th scope="col">Correo Electrónico</th>
      {% if grupo != "estudiante"%}
        <th scope="col">Info</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for estudiante, is_visto in estudiante_isVisto.items %}
    <tr>
        <td>
            {{estudiante}}
        </td>
        <td>
            {{estudiante.celular}}
        </td>
        {% if grupo == 'docente' or grupo == 'tutor'%}
          <td>
            <!--<a href="{% url 'mensaje_personal' estudiante.usuario.pk %}">Mensajes</a>-->
            <!--<a href="{% url 'mensaje_personal' estudiante.usuario.pk %}" class="btn btn-primary position-relative">-->
            <a href="{% url 'mensaje:enviar_mensaje_par' estudiante.usuario.pk %}" class="btn btn-primary position-relative">
              Mensajes
              {% if not is_visto %}
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                  <span class="visually-hidden">New alerts</span>
                </span>
              {% endif %}
            </a>
          </td>
        {% endif %}
        <td>
            <a href="mailto:{{estudiante.correo}}?Subject=">{{estudiante.correo}}</a><br>
        </td>
        {% if grupo != "estudiante"%}
        <td>
          <a href="{% url 'enlace_estudiante' estudiante.id %}">Info</a>
        </td>
        {% endif %}
    </tr>
    {%endfor%}
  </tbody>
</table>
