<h5>Lista de equipos</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Equipo</th>
      <th scope="col">Integrantes</th>
      <th scope="col">Ver Equipo</th>
    </tr>
  </thead>
  <tbody>
    {%for equipo, cantidad_aviso in datos_equipos.items%}
      <tr>
        {% if grupo == 'tutor' %}
          {%if equipo.tutor_acepto%}
            <td>
              <!--<a class="text-underline-hover" href="{% url 'progreso_estudiante' equipo.pk %}">{{equipo.alias}}</a>-->
              <a href="{% url 'progreso_estudiante' equipo.pk %}" 
                type="button" class="btn btn-primary position-relative"
                data-bs-toggle="tooltip" data-bs-placement="right" 
                title="{{cantidad_aviso.1}}">
                {{equipo.alias}}
                {% if cantidad_aviso.0 != 0 %}
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{cantidad_aviso.0}}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                {% endif %}
              </a>
            </td>
          {% else %}
            <td>
              <a class="text-underline-hover" href="{% url 'solicitud_tutoria' equipo.id %}" 
                name='solicitud_tutoria'><strong>Solicitud</strong> {{equipo.alias}}</a>
            </td>
          {% endif %}
        {% else %}
          <td>
            <!--<a class="text-underline-hover" href="{% url 'progreso_estudiante' equipo.pk %}">{{equipo.alias}}</a>-->
            <a href="{% url 'progreso_estudiante' equipo.pk %}" 
              type="button" class="btn btn-primary position-relative"
              data-bs-toggle="tooltip" data-bs-placement="right" 
              title="{{cantidad_aviso.1}}">
              {{equipo.alias}}
              {% if cantidad_aviso.0 != 0 %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{cantidad_aviso.0}}
                  <span class="visually-hidden">unread messages</span>
                </span>
              {% endif %}
            </a>
          </td>
        {% endif %}
        <td>
          {{equipo.cantidad}}
        </td>
        <td>
          <a href={% url "modalidad:ver_equipo" equipo.pk %}>Ver Equipo</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
