<h5>Integrantes:</h5>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Estudiante</th>
      <th scope="col">Celular</th>
      {% if not grupo == 'estudiante' %}
        <th scope="col">Mensajes</th>
      {% endif %}
      <th scope="col">Correo Electrónico</th>
      {% if grupo != "estudiante"%}
        <th scope="col">Info</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for estudiante in equipo.datosestudiante_set.all %}
    <tr>
        <td>
            {{estudiante}}
        </td>
        <td>
            {{estudiante.celular}}
        </td>
        {% if not grupo == 'estudiante' %}
          <td><a href="{% url 'mensaje_personal' estudiante.usuario.pk %}">Mensajes</a></td>
        {% endif %}
        <td>
            <a href="mailto:{{estudiante.correo}}?Subject=">{{estudiante.correo}}</a><br>
        </td>
        {% if grupo != "estudiante"%}
        <td>
          <a href="{% url 'enlace_estudiante' estudiante.id %}">Info</a>
        </td>
        {% endif %}
    </tr>
    {%endfor%}
  </tbody>
</table>
