{% extends 'proyecto/main.html' %}
{% block content %}

<div class="accordion" id="accordionExample">
{%for solicitud in solicitudes %}
  <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo{{solicitud.id}}">
      <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo{{solicitud.id}}" 
                    aria-expanded="false"
                    aria-controls="collapseTwo{{solicitud.id}}">
          <strong>De: {{solicitud.estudiante_interesado}}</strong>
      </button>
    </h2>
    <div id="collapseTwo{{solicitud.id}}" class="accordion-collapse collapse"
                    aria-labelledby="headingTwo{{solicitud.id}}" 
                    data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <p>Te invita a ser parte de su grupo:</p>
        <div class="card-subtitle mb-2 text-muted">Publicación: {{solicitud.fecha_creacion}}</div>
        <div class="d-flex justify-content-evenly">
            <a href={% url 'modalidad:rechazar_solicitud_invitado' solicitud.pk %} class="btn btn-primary">Rechazar</a>
            <a href={% url 'modalidad:aprobar_solicitud_invitado' solicitud.pk %} class="btn btn-success">Aprobar Solicitud</a>
        </div>
      </div>
    </div>
  </div>
{%endfor%}
</div>
<br>
<a class="btn btn-danger" href={%url 'home'%}>Atras</a>

{% endblock %}
