{% extends 'proyecto/main.html' %}
{% block content %}
<p>
<form method='post' action="" >
  <div class="d-flex">
    {% csrf_token %}
    <textarea name="buscado" class="form-control" id="exampleFormControlTextarea1" rows="3"
    placeholder="Ingrese el fragmento de título, resumen, indice o bibliografía">{{buscado}}</textarea>
  </div>
  <div class="d-flex justify-content-evenly p-4">
    <button class="btn btn-outline-success pl-4 pr-4" type="submit">Buscar</button>
  </div>
</form>
<table class="table sortable">
  <thead>
    <tr>
      <th scope="col">Similitud</th>
      <th scope="col">Autor</th>
      <th scope="col">Título</th>
      <th scope="col">Mención</th>
      <th scope="col">Tutor</th>
      <th scope="col">Docente</th>
      <th scope="col">Detalle</th>
    </tr>
  </thead>
  <tbody>
    {% for q in score_objeto%}
    <tr>
      <td>{{q.0}} %</td>
      <td>{{q.1.autor}}</td>
      <td>{{q.1.titulo}}</td>
      <td>{{q.1.mencion}}</td>
      <td>{{q.1.tutor}}</td>
      <td>{{q.1.docente}}</td>
      <td><a href={% url "busquedas:detalle_proyecto" q.1.autor %}>Link</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
