{% extends 'proyecto/main.html' %}
{% block content %}

<p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% if para_usuario.groups.get.name == 'estudiante' and para_usuario.datosestudiante.equipo.datosestudiante_set.count == 1 %}
      <a class="btn btn-danger" href={%url 'home' %}>Atras</a>
    {% elif para_usuario.groups.get.name != 'estudiante' %}
      <a class="btn btn-danger" href={%url 'home' %}>Atras</a>
    {% endif %}
    <button type="submit" name='enviar' class="btn btn-success"
        value='enviar'>Enviar</button>
</form>
<br>
<div class="card">
  <div class="card-header">
      Mensajes con: <strong>{{usuario_link.first_name}}
          {{usuario_link.last_name}}</strong>
  </div>
  <div class="card-body">
{%for mensaje in mensajes%}
    <strong>
      {{mensaje.usuario.groups.get|title}} - 
      {{mensaje.usuario.first_name}}:
    </strong> {{mensaje.texto}}
    <div class="card-subtitle mb-2 text-muted">{{mensaje.fecha_creacion}}</div>
{%endfor%}
  </div>
</div>

{% endblock %}
