{%  extends 'proyecto/main.html' %}
{% block content %}            
<h3>Asignar Tribunal a {{estudiante}}</h3>
El estudiante tiene a tribunal:<br>
{% for tribunal in estudiante.tribunales.all %}
{{tribunal}}<br>
{% endfor %}
<a class="btn btn-danger" href={%url 'progreso_estudiante' estudiante.id %}>Atras</a>
{% if estudiante.tribunales.count < 2%}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Tribunal</th>
      <th scope="col">Asignar</th>
    </tr>
  </thead>
  <tbody>
    {% for tribunal in tribunales%}
    <tr>
      <td><a class="text-underline-hover" 
    href="{% url 'enlace_tribunal' tribunal.id%}">Ing. {{tribunal.apellido}} {{tribunal.nombre}}</a></td>
      <td>
      <a class="btn btn-warning" href={% url 'confirmar_asignar_tribunal' estudiante.id tribunal.id%}>Asignar Tribunal</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}

