{% extends 'proyecto/main.html' %}
{% block content %}
<h2>Se calificará al estudiante: {{estudiante}}</h2>

<p>
  Tiempo de elaboracion (Max. 9%):</br>
  Semestres transcurridos: {{semestres}}
  <br>
  Nota recomendada: {{nota_tiempo}}
</p>

<form method='post' >
  {% csrf_token %}
  {{form.as_p}}
  <div class="d-flex justify-content-evenly">
    <a class="btn btn-danger" href={%url 'progreso_estudiante' estudiante.equipo.id %}>Cancelar</a>
    <button class="btn btn-success" type="submit">Confirmar</button>
  </div>
</form>

{% endblock %}
