{% extends 'proyecto/main.html' %}
{% block content %}
{% if equipo.cantidad > 1%}
  <h2>Se calificará al equipo: {{equipo.alias}}</h2>
{% else %}
  <h2>Se calificará al estudiante: {{equipo.datosestudiante_set.get}}</h2>
{% endif %}
<h3>La nota se promediará con la del otro tribunal</h3>
<h3>Se debe calificar sobre el 60 %</h3>

<form method="POST" enctype="multipart/form-data" name="myForm" onsubmit="return comprobar()">
    {% csrf_token %}
    {{form.as_p}}
    <div class="d-flex justify-content-evenly">
      <a class="btn btn-danger" href={%url 'progreso_estudiante' equipo.id %}>Cancelar</a>
      <button class="btn btn-success" type="submit">Calificar</button>
    </div>
</form>

<script>
  function comprobar() {
    let nota = parseFloat(document.forms["myForm"]["id_nota"].value);
    if ( nota == 0 ) {
      alert(`No asignar nota cero.`);
      return false;
    } 
  };
</script>

{% endblock %}
