{% extends 'proyecto/main.html' %}
{% block content %}
{%if valor == 'docente' %}
<h3>Comunicado por Docente Ing. {{request.user.datosestudiante.grupo_doc.apellido}}</h3>
{%elif valor == 'tutor'%}
<h3>Comunicado por Tutor Ing. {{request.user.datosestudiante.tutor.apellido}}</h3>
{%endif%}

{%for comunicado in comunicados %}
**********************************
<p>
Tema:
{{comunicado.tema}}<p>
Contenido:
{{comunicado.texto}}<p>
Fecha de publicación:
{{comunicado.fecha_creacion}}<p>
**********************************

{%endfor%}

{% endblock %}
