{% extends 'proyecto/main.html' %}
{% block content %}
<h2>Bienvenido docente</h2>
{% include 'proyecto/lista_estudiantes.html' %}
{% comment %}<h5>Lista de estudiantes:</h5>{% endcomment %}
{% comment %}<table class="table table-striped">{% endcomment %}
  {% comment %}<thead>{% endcomment %}
    {% comment %}<tr>{% endcomment %}
      {% comment %}<th scope="col">Nº</th>{% endcomment %}
      {% comment %}<th scope="col">Estudiante</th>{% endcomment %}
      {% comment %}<th scope="col">Estado PG</th>{% endcomment %}
    {% comment %}</tr>{% endcomment %}
  {% comment %}</thead>{% endcomment %}
  {% comment %}<tbody>{% endcomment %}
    {% comment %}<tr>{% endcomment %}
      {% comment %}<th scope="row">1</th>{% endcomment %}
      {% comment %}<td><a href="">Alfredo Ortega Miranda</a></td>{% endcomment %}
      {% comment %}<td>Excelente</td>{% endcomment %}
    {% comment %}</tr>{% endcomment %}
    {% comment %}<tr>{% endcomment %}
      {% comment %}<th scope="row">2</th>{% endcomment %}
      {% comment %}<td><a href="#">Javier Ali Pérez</a></td>{% endcomment %}
      {% comment %}<td>Crítico</td>{% endcomment %}
    {% comment %}</tr>{% endcomment %}
    {% comment %}<tr>{% endcomment %}
      {% comment %}<th scope="row">3</th>{% endcomment %}
      {% comment %}<td><a href="#">Marcelo Miranda García</a></td>{% endcomment %}
      {% comment %}<td>Regular</td>{% endcomment %}
    {% comment %}</tr>{% endcomment %}
  {% comment %}</tbody>{% endcomment %}
{% comment %}</table>{% endcomment %}
{% endblock %}
