{% extends 'proyecto/main.html' %}
{% block content %}

{% comment %}{%if request.user.datosestudiante.tutor.id == tutor.id%}{% endcomment %}
{% if tutor %}
<h3>Información del tutor</h3>
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<img class="profile-pic" src="{{tutor.imagen_perfil.url}}" >
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
<p>
{% if grupo == 'administrador'%}
Usuario: {{tutor.usuario}}<br>
{% endif %}
Nombre: {{tutor.nombre}}<br>
Apellido: {{tutor.apellido}}<br>
Correo Electrónico: <a href="mailto:{{tutor.correo}}?Subject=Asunto">{{tutor.correo}}</a><br>
Número de Celular: {{tutor.celular}}</p>
{% endif %}
		</div>
	</div>
</div>

{% if grupo == 'administrador'%}
<div class='text-right'>
    <a href={% url 'resetear_password' tutor.usuario_id %}>Resetear Contraseña</a></div>
{% endif %}

{% endblock %}
