{% extends 'proyecto/main.html' %}
{% block content %}                                      

<H3>Información del estudiante</h3>
<p>
Nombre: {{estudiante.nombre}} <p>
Apellido: {{estudiante.apellido}} <p>
Registro Universitario: {{estudiante.registro_uni}} <p>
Mención: {{estudiante.mencion}} <p>
Cédula de Identidad: {{estudiante.carnet}} <p>
Correo Electrónico: <a href="mailto:{{estudiante.correo}}?Subject=">{{estudiante.correo}}</a><p>
Número de Celular: {{estudiante.celular}} <p>
Grupo: {{estudiante.grupo_doc.grupo}} <p>
Docente: <a href="{% url 'enlace_docente' estudiante.grupo_doc.id %}">
    {{estudiante.grupo_doc.nombre}} {{estudiante.grupo_doc.apellido}}</a><p>
{%if grupo == 'docente' or 'administrador'%}
Tutor: <a href="{% url 'enlace_tutor' estudiante.tutor.id %}">
    {{estudiante.tutor.nombre}} {{estudiante.tutor.apellido}}</a><p>
Fecha de Inscripción: {{estudiante.fecha_inscripcion}}
{%endif%}
{% endblock %}
