{% extends 'proyecto/main.html' %}
{% block content %}                                      

<h3>Información del estudiante</h3>
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<img class="profile-pic" src="{{estudiante.imagen_perfil.url}}" >
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
<p>Nombre: {{estudiante.nombre}}<br>
Apellido: {{estudiante.apellido}}<br>
Registro Universitario: {{estudiante.registro_uni}}<br>
Mención: {{estudiante.mencion}}<br>
Cédula de Identidad: {{estudiante.carnet}} {{estudiante.extension}}<br>
Correo Electrónico: <a href="mailto:{{estudiante.correo}}?Subject=">{{estudiante.correo}}</a><br>
Número de Celular: {{estudiante.celular}}<br>
Grupo: {{estudiante.grupo_doc.grupo}}<br>
Docente: <a href="{% url 'enlace_docente' estudiante.grupo_doc.id %}">
    {{estudiante.grupo_doc.nombre}} {{estudiante.grupo_doc.apellido}}</a><br>
{% if estudiante.tutor %}
{%if grupo == 'docente' or grupo == 'administrador' or grupo == 'director'%}
Tutor: <a href="{% url 'enlace_tutor' estudiante.tutor.id %}">
    {{estudiante.tutor.nombre}} {{estudiante.tutor.apellido}}</a><br>
Fecha de Inscripción: {{estudiante.fecha_inscripcion}}<br>
{%endif%}
{% else %}
Tutor: Aún no tiene tutor<br>
Fecha de Inscripción: {{estudiante.fecha_inscripcion}}</p>
{%endif%}
{% if grupo == 'administrador' or grupo == 'docente' or grupo == 'tutor' or grupo == 'director'%}
<a href="{% url 'reportes:reporte_estudiante' estudiante.id %}">Reporte Actual</a>
{% endif %}
		</div>
	</div>
</div>
{% if grupo == 'administrador'%}
<div class='text-right'>
    <a href={% url 'resetear_password' estudiante.usuario_id %}>Resetear Contraseña</a></div>
{% endif %}

{% endblock %}
