{% extends 'proyecto/main.html' %}
{% block content %}
<h3>Información del docente</h3>
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<img class="profile-pic" src="{{docente.imagen_perfil.url}}" >
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">

{%if grupo == 'administrador' or grupo == 'director'%}
<p>
Nombre: {{docente.nombre}}<br>
Apellido: {{docente.apellido}}<br>
Celular: {{docente.celular}}<br>
Correo Electrónico: {{docente.celular}}<br>
Grupo: {{docente.grupo}}<br>
Cantidad de Estudiantes: {{docente.datosestudiante_set.count}}</p>
		</div>
	</div>
</div>
{% if not grupo == 'director'%}
<div class='text-right'><a href={% url 'resetear_password' docente.usuario_id %}>Resetear Contraseña</a></div>
{% endif %}
<h3>Lista de Estudiantes</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Estudiante</th>
    </tr>
  </thead>
  <tbody>
    <tr>
{%for est in estudiantes %}
      <td><a href="{% url 'enlace_estudiante' est.id %}">{{est.apellido}}, {{est.nombre}}</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
{%endif%}

{%if grupo == 'estudiante'%}
<p>Nombre: {{docente.nombre}}<br>
Apellido: {{docente.apellido}}<br>
Celular: {{docente.celular}}<br>
Correo Electrónico: {{docente.celular}}<br>
Grupo: {{docente.grupo}}</p>
		</div>
	</div>
</div>
{%endif%}

{%if grupo == 'tutor' or grupo == 'tribunal'%}
<p>Nombre: {{docente.nombre}}<br>
Apellido: {{docente.apellido}}<br>
Celular: {{docente.celular}}<br>
Correo Electrónico: {{docente.correo}}<br>
Grupo: {{docente.grupo}}<br>
{% comment %}Cantidad de Estudiantes: {{docente.datosestudiante_set.count}}</p>{% endcomment %}
		</div>
	</div>
</div>
{%endif%}

{% endblock %}
