{% extends 'proyecto/main.html' %}
{% block content %}
<h3>Información del docente</h3>
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<img class="profile-pic" src="{{docente.imagen_perfil.url}}" >
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">

{%if grupo == 'administrador' or grupo == 'director'%}
    <p>
    {%if grupo == 'administrador'%}
        Usuario: {{docente.usuario.username}}<br>
    {% endif %}
    Nombre: {{docente.nombre}}<br>
    Apellido: {{docente.apellido}}<br>
    Celular: {{docente.celular}}<br>
    Correo Electrónico: <a target=_blank href="mailto:{{docente.correo}}?Subject=Asunto">{{docente.correo}}</a><br>
    Grupo: {{docente.grupo}}<br>
    Mención: {{docente.mencion}}<br>
    Cantidad de Estudiantes: {{ cantidad_estudiantes }}</p>
            </div>
        </div>
    </div>
    {% if not grupo == 'director'%}
      <div class="d-flex flex-row-reverse">
        <a href={% url 'resetear_password' docente.usuario_id %}>Resetear Contraseña</a>
      </div>
    {% endif %}
    <h3>Lista de Estudiantes</h3>
    <table class="table table-striped">
    <thead>
        <tr>
        <th class="text-center" scope="col">Estudiantes</th>
        </tr>
    </thead>
    <tbody>
      {%for est in estudiantes %}
        <tr>
          <td>
            <div class="d-grid gap-2 col-8 mx-auto">
              <a class="btn btn-primary" href="{% url 'enlace_estudiante' est.id %}">{{est}}</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
{%endif%}

{%if grupo == 'estudiante'%}
    <p>Nombre: {{docente.nombre}}<br>
    Apellido: {{docente.apellido}}<br>
    Celular: {{docente.celular}}<br>
    Correo Electrónico: <a target=_blank href="mailto:{{docente.correo}}?Subject=Asunto">{{docente.correo}}</a><br>
    Grupo: {{docente.grupo}}</p>
            </div>
        </div>
    </div>
{%endif%}

{%if grupo == 'tutor' or grupo == 'tribunal'%}
    <p>Nombre: {{docente.nombre}}<br>
    Apellido: {{docente.apellido}}<br>
    Celular: {{docente.celular}}<br>
    Correo Electrónico: <a target=_blank href="mailto:{{docente.correo}}?Subject=Asunto">{{docente.correo}}</a><br>
    Grupo: {{docente.grupo}}<br>
            </div>
        </div>
    </div>
{%endif%}

{% endblock %}
