{% extends 'proyecto/main.html' %}
{% block content %}
<p>
<a class="btn btn-primary" href="{% url 'crear_sala' %}">Crear Revisión</a><br>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Revisión</th>
      <th scope="col">Texto</th>
      <th scope="col">Perfil</th>
      <th scope="col">Docente</th>
      <th scope="col">Tutor</th>
    </tr>
  </thead>
  <tbody>
{%for s in salas%}
    <tr>
<td>
{% comment %}<a href={%url 'sala_revisar' s.id %}>{{s.sala}}</a>{% endcomment %}
<button class="btn btn-danger">{{s.sala}}</button>
</td>      

<td>
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Texto
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
      {{s.texto}}
  </div>
</div>
</td>      

<td>
    <a class="btn btn-danger" href="{{ s.material_estudiante.url }}">Archivo</a>
</td>      
<td>
<a class="btn btn-primary" href="{% url 'sala_revisar_est_doc' s.id %}">Revisión</a>
</td>      
<td>
<a class="btn btn-danger" href="{% url 'sala_revisar_est_tut' s.id %}">Revisión</a>
</td>      
    </tr>
{%endfor%}
  </tbody>
</table>
<a class="btn btn-danger" href={%url 'paso4'%}>Atras</a>
<p>

{% endblock %}
