{% extends 'proyecto/main.html' %}
{% block content %}
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>

{% if not estudiante.vb_perfil_docente and not estudiante.vb_perfil_tutor%}
<a class="btn btn-warning" href="{% url 'crear_sala' %}">Crear Revisión</a>
{% endif %}

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Asunto</th>
      <th scope="col">Detalle</th>
      <th scope="col">Perfil</th>
      {% if request.user.datosestudiante.vb_perfil_docente %}
      <th scope="col"><div class='bg-success text-white'>Docente V.B. <i class="fas fa-check"></i></div></th>
      {% else %}
      <th scope="col"><div class='bg-danger text-white'>Docente <i class="fas fa-history"></i></div></th>
      {% endif %}
      {% if request.user.datosestudiante.vb_perfil_tutor %}
      <th scope="col"><div class='bg-success text-white'>Tutor V.B. <i class="fas fa-check"></i></div></th>
      {% else %}
      <th scope="col"><div class='bg-danger text-white'>Tutor <i class="fas fa-history"></i></div></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
{%for s in salas%}
    <tr>
<td>
{{s.sala}}
</td>      

<td>
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
    data-bs-target="#collapseExample{{s.id}}" aria-expanded="false"
    aria-controls="collapseExample{{s.id}}">
      Detalle
  </button>
</p>
<div class="collapse" id="collapseExample{{s.id}}">
  <div class="card card-body">
      {{s.texto}}
  </div>
</div>
</td>      

<td>
    <a class="btn btn-primary" href="{{ s.material_estudiante.url }}">Perfil</a>
</td>      
<td>
<a class="btn btn-primary" href="{% url 'sala_revisar_est_doc' s.id %}">Observación</a>
{%if s.material_corregido_docente %}
<a class="btn btn-primary" href="{{ s.material_corregido_docente.url }}">Perfil Corregido</a>
{% endif %}
</td>      
<td>
<a class="btn btn-primary" href="{% url 'sala_revisar_est_tut' s.id %}">Observación</a>
{%if s.material_corregido_tutor %}
<a class="btn btn-primary" href="{{ s.material_corregido_tutor.url }}">Perfil Corregido</a>
{% endif %}
</td>      
    </tr>
{%endfor%}
  </tbody>
</table>
<a class="btn btn-danger" href={%url 'paso4'%}>Atras</a>
<p>

{% endblock %}
