{% extends 'proyecto/main.html' %}
{% block content %}
<h3>Tribunal: Ing. {{tribunal}}</h3>
{% comment %}{% if not estudiante.vb_proyecto_docente or not estudiante.vb_proyecto_tutor%}{% endcomment %}
<a class="btn btn-warning" href="{% url 'crear_sala_tribunal' %}">Crear Revisión</a><br>
{% comment %}{% endif %}{% endcomment %}

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Asunto</th>
      <th scope="col">Detalle</th>
      <th scope="col">Proyecto</th>
      {% if request.user.datosestudiante.vb_proyecto_tutor %}
      <th scope="col"><div class='bg-success text-white'>Tribunal V.B. <i class="fas fa-check"></i></th>
      {% else %}
      <th scope="col"><div class='bg-danger text-white'>Tribunal<i class="fas fa-history"></i></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
{%for s, no_visto in dicc_salas.items%}
    <tr>
<td>
{{s.sala}}
</td>      

<td>
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
    data-bs-target="#collapseExample{{s.id}}" aria-expanded="false"
    aria-controls="collapseExample{{s.id}}">
      Detalle
  </button>
</p>
<div class="collapse" id="collapseExample{{s.id}}">
  <div class="card card-body">
      {{s.texto}}
  </div>
</div>
</td>      

<td>
    <a class="btn btn-primary" href="{{ s.material_estudiante.url }}">Proyecto</a>
</td>      
{% comment %}<td>{% endcomment %}
{% comment %}</td>      {% endcomment %}
<td>
    {% if no_visto == 0%}
        <a class="btn btn-primary position-relative" href="{% url 'sala_revisar_est_trib' s.id %}">Observación</a>
    {% else %}
        <a href="{% url 'sala_revisar_est_trib' s.id %}" type="button" class="btn btn-primary position-relative">
            Observación
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{no_visto}}
            <span class="visually-hidden">unread messages</span>
        </span>
        </a>
    {% endif %}
</td>      
    </tr>
{%endfor%}
  </tbody>
</table>
<a class="btn btn-danger" href="{% url 'paso6'%}">Atras</a><p>
<p>

{% endblock %}
