{% extends 'proyecto/main.html' %}
{% block content %}
<p>Reglamentos de la Materia ETN-1040</p>
<p>
{%for link, titulo in dicc_link.items%}
<a href="{{ link.archivo.url }}">{{titulo}}</a><br>
{%endfor%}
</p>

<p>Introducción de la materia:<br>
Documentos compartidos por Docente ETN-1040:
Ing. {{request.user.datosestudiante.grupo_doc}}</p>
<p>{%for link in material_docente %}
<a href="{{ link.material_docente.url }}">{{link.material_docente.name}}<a><p>
{%endfor%}</p>
<p><a class="btn btn-danger" href={%url 'estudiante' %}>Atras</a>

{% if progreso %}
{% if progreso.nivel < 14 %}
<a class="btn btn-success" href={%url 'confirmar_paso_1' %}>Completado</a></p>
{% endif %}
{% if progreso.nivel >= 14 %}
<h4>Paso completado</h4>
{% endif %}
{% endif %}
{% endblock %}
