{% extends 'proyecto/main.html' %}
{% block content %}
<p>
paso 4<p>
Visto bueno del docente y tutor se lo dara en la revision<p>
<a href={%url 'entrega_perfil'%}>Entregar perfil para revisión</a><p>
{% if registro_perfil_existe %}
<a href={%url 'ver_perfil_registrado'%}>Registro de Perfil</a><p>
{% else %}
<a href={%url 'registro_perfil'%}>Registro de Perfil</a><p>
{% endif %}
<a href={%url 'cronograma_actividad'%}>Registro de Cronograma</a><p>
<a href={%url 'carta_solicitud_tutor'%}>Carta solicitud de tutoría</a><p>
<a href={%url 'carta_aceptacion_tutor'%}>Carta aceptacion de tutoría</a><p>
<a href={%url 'formulario_1'%}>Formulario de Aprobación</a><p>

<a class="btn btn-danger" href={%url 'estudiante' %}>Atras</a>

{% if perfil %}
{% if progreso.nivel < 69 %}
<a class="btn btn-success" href={%url 'confirmar_paso_1' %}>Completado</a>
{% endif %}
{% if progreso.nivel >= 69 %}
<h4>Este paso ya fué confirmado</h4>
{% endif %}
{% else %}
<a class="btn btn-success disabled" href={%url 'confirmar_paso_1' %}>Completado</a>
No se registro aún el perfil y el cronograma
{% endif %}

{% endblock %}
