{% extends 'proyecto/main.html' %}
{% block content %}

{% for message in messages %}
    <p id="messages">{{ message }}</p>
{% endfor %}

{% if not tutor and not estudiante.tutor_acepto %}
    <h4>Registrar al Tutor para que ingrese al sistema.</h4>
    {% if not modalidad_hecha %}
        <p>Para este punto debe de conversar con un posible Tutor y confirmar su participación
        en el desarrollo del proyecto.</p>
        <p>En el caso de que el tutor recomiende más de un integrante, debe de realizarse la solicitud
        al docente ETN-1040 para que autorice la participación múltiple en el proyecto.
        Deberá espera una respuesta favorable del docente para que se habilite esta modalidad.</p>
        <p>En caso de que se realice en modalidad individual, sólo debe seleccionar la modalidad
        individual y registrar al Tutor.</p>
    {% endif %}
    {% if rechazo and not modalidad_hecha %}
        <p>La solicitud fue rechazada,
        <a href={% url 'modalidad:ver_rechazo' rechazo.pk %}>ver detalles</a>.</p>
    {% endif %}
    {% if not modalidad_hecha %}
        <div class="d-flex justify-content-evenly">
            <a class="btn btn-outline-success" href={% url 'modalidad:individual' %}>Individual</a>
            <a class="btn btn-outline-success" href={% url 'modalidad:multiple'%}>Múltiple</a>
        </div>
    {% elif estudiante.modalidad == 'multiple' and not estudiante.equipo %}
        <p>Se envió la 
        <a href={% url 'modalidad:ver_solicitud' estudiante.solicitud_set.last.pk %}>solicitud </a>
         al docente, espere una respuesta favorable</p>
    {% elif estudiante.modalidad == 'multiple' and estudiante.equipo%}
        <p>El docente aceptó la solicitud de modalidad múltiple</p>
    {% endif %}
{% elif estudiante.equipo.tutor and not estudiante.equipo.tutor_acepto %}
    <h4>Se envió la solicitud al Tutor</h4>
{% elif estudiante.equipo.tutor and estudiante.equipo.tutor_acepto %}
    <h4>El Tutor aceptó la solicitud</h4>
{% endif %}

{% if modalidad_hecha and not estudiante.equipo.datosestudiante_set.count == estudiante.equipo.cantidad %}
    <div class="d-flex justify-content-evenly">
        <a class="btn btn-success" href={% url 'modalidad:agregar_integrantes' %}>Agregar Compañeros de Equipo</a>
    </div>
{% endif %}

{% comment %}cumprueba que el estudiante ya tenga una modalidad{% endcomment %}
{% comment %}y en el caso que se asigno ya un grupo, que este este completo{% endcomment %}
{% if modalidad_hecha and estudiante.equipo.datosestudiante_set.count == estudiante.equipo.cantidad and estudiante.equipo %}
    {% if not tutor and estudiante.equipo.tutor_acepto %}
    <p>Ingrese el correo electrónico del tutor y espere a que acepte su solicitud.</p>
    <p>
    <form class="d-flex" style="margin:auto;max-width:300px" method='post'
                        action="" >
        {% csrf_token %}
        <input name="agregar_tutor" class="form-control me-2" type="email"
        placeholder="Registrar Email Tutor" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" name='enviar'>Enviar</button>
    </form>
    </p>
    {% endif %}
{% endif %}

{% if tutor and not estudiante.equipo.tutor_acepto %}
    <p>Se solicitó tutoria a:
    {% if tutor.nombre == 'sin llenar'%}
        <a href="{% url 'enlace_tutor' tutor.id %}">{{tutor.correo}}</a><br>
    {% else %}
        <a href="{% url 'enlace_tutor' tutor.id %}">{{tutor.nombre}} {{tutor.apellido}}</a><br>
    {% endif %}
    Espere hasta que acepte su solicitud
    <i class="fas fa-user-clock text-primary"></i><br>
    <a href="{% url 'indicaciones_tutor' estudiante.id %}">Imprimir Indicaciones a Tutor</a><br>
    </p>
{% endif %}

{% if tutor and estudiante.equipo.tutor_acepto%}
    <p>El <strong>Ing. {{tutor}}</strong> aceptó la solicitud de tutoría
    <i class="fas fa-user-check text-success"></i>
    </p>
    <p><a href={%url 'reporte_tutor_acepto' estudiante.id %}>Carta de Aceptación para Docente ETN-1040</a>
    <i class="fas text-success fa-check"></i></p>
{% endif %}

<a class="btn btn-danger" href={%url 'estudiante' %}>Atras</a><p>

{% if tutor and estudiante.tutor_acepto%}
<h5>Paso Completado</h5>
{% endif %}
{% endblock %}
