{% extends 'proyecto/main.html' %}
{% block content %}
<h4>Elaboración del Proyecto de Grado y Revisión</h4>
{% if estudiante.vb_proyecto_docente and estudiante.vb_proyecto_tutor %}
    <p><a href={%url 'cronograma_control'%}>Cumplir con Cronograma</a>
    <i class="fas text-success fa-check"></i></p>
    <p><a href={%url 'entrega_proyecto' %}>Revisión Proyecto</a>
    <i class="fas text-success fa-check"></i></p>
{% else %}
    <p><a href={%url 'cronograma_control'%}>Cumplir con Cronograma</a>
    <i class="fas text-danger fa-graduation-cap"></i><br>
    <p><a href={%url 'entrega_proyecto' %}>Revision Proyecto</a>
    <i class="fas text-danger fa-graduation-cap"></i></p>
    <p><a class="btn disabled" href=#>Registro Proyecto de Grado</a>
    <i class="fas text-danger fa-graduation-cap"></i></p>
{% endif %}

{% if estudiante.vb_proyecto_docente and estudiante.vb_proyecto_tutor and not proyecto_grado%}
    <p><a href={%url 'registro_proyecto'%}>Registrar Proyecto de Grado para calificación</a>
    <i class="fas text-danger fa-graduation-cap"></i></p>
{% endif %}

{% if proyecto_grado and proyecto.0.calificacion %}
    <p><a href={%url 'ver_proyecto_grado'%}>Proyecto de Grado Registrado y Calificado</a>
    <i class="fas text-success fa-check"></i></p>
{% endif %}

{% if proyecto and not proyecto.0.calificacion %}
    <p><a href={%url 'ver_proyecto_grado'%}>Proyecto de Grado, Esperando Nota</a>
    <i class="fas text-warning fa-graduation-cap"></i></p>
{% endif %}

{% comment %}{% if proyecto_grado and proyecto.0.calificacion%}{% endcomment %}
<p><a class="btn btn-danger" href={%url 'estudiante' %}>Atras</a>
{% if proyecto_grado and estudiante.vb_proyecto_tutor and estudiante.vb_proyecto_docente and proyecto.0.calificacion%}
    {% if progreso.nivel < 86 %}
    <a class="btn btn-success" href={%url 'confirmar_paso_5' %}>Completado</a></p>
    {% endif %}

    {% if progreso.nivel >= 86 %}
    <h5>Paso Completado</h5>
    {% endif %}
{% else %}
<a class="btn btn-success disabled" href={%url 'confirmar_paso_5' %}>Completado</a>
Aún no se tiene Visto Bueno, No se registro el proyecto de grado o no se calificó.
{% endif %}


{% endblock %}
