{% extends 'proyecto/main.html' %}
{% block content %}
<a href={% url 'revisar:revisar_documento' 'perfil' 178 %}>revisar perfil</a>
{% include 'proyecto/lista_docente_tutor.html' %}
{% if progreso >= 100%}
{% include 'proyecto/felicidades.html' %}
{% endif %}
<div class="container">
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
    <div class="col">
    {%if progreso == 1%}
      <div class="p-3 border bg-warning" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       {% comment %}<a class="btn btn-colorido" href={%url 'paso2'%}>Paso 2</a>{% endcomment %}
        <a class="btn btn-warning" href={%url 'paso1'%}>Paso 1</a>
        </div>
      </div>
    {% endif %}
    {%if progreso > 1%}
      <div class="p-3 border bg-success" style="--bs-bg-opacity: .5;">
        <div class="text-center">
            <a class="btn btn-success" href={%url 'paso1'%}>Paso 1</a>
        </div>
      </div>    
    {% endif %}
    </div>
    <div class="col">
    {%if progreso == 14%}
      <div class="p-3 border bg-warning" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       {% comment %}<a class="btn btn-colorido" href={%url 'paso2'%}>Paso 2</a>{% endcomment %}
       <a class="btn btn-warning" href={%url 'paso2'%}>Paso 2</a>
        </div>
      </div>
    {% endif %}
    {%if progreso > 14%}
      <div class="p-3 border bg-success" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       {% comment %}<a class="btn btn-colorido" href={%url 'paso2'%}>Paso 2</a>{% endcomment %}
       <a class="btn btn-success" href={%url 'paso2'%}>Paso 2</a>
        </div>
      </div>
    {% endif %}
    {%if progreso < 14%}
      <div class="p-3 border bg-danger" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       <a class="btn btn-danger disabled text-white">Paso 2</a>
        </div>
      </div>
    {% endif %}
    </div>
    <div class="col">
    {%if progreso == 21 %}
      <div class="p-3 border bg-warning" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       <a class="btn btn-warning" href={%url 'paso3'%}>Paso 3</a>
        </div>
      </div>
    {% endif %}
    {%if progreso > 21 %}
      <div class="p-3 border bg-success" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       <a class="btn btn-success" href={%url 'paso3'%}>Paso 3</a>
        </div>
      </div>
    {% endif %}
    {%if progreso < 21 %}
      <div class="p-3 border bg-danger" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       <a class="btn btn-danger disabled text-white">Paso 3</a>
        </div>
      </div>
    {% endif %}
    </div>
    <div class="col">
    {%if progreso == 35%}
      <div class="p-3 border bg-warning" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       <a class="btn btn-warning" href={%url 'paso4'%}>Paso 4</a>
        </div>
      </div>
    {% endif %}
    {%if progreso > 35%}
      <div class="p-3 border bg-success" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       <a class="btn btn-success" href={%url 'paso4'%}>Paso 4</a>
        </div>
      </div>
    {% endif %}
    {%if progreso < 35 %}
      <div class="p-3 border bg-danger" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       <a class="btn btn-danger disabled text-white">Paso 4</a>
        </div>
      </div>
    {% endif %}
    </div>
    <div class="col">
    {%if progreso == 64 %}
      <div class="p-3 border bg-warning" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       <a class="btn btn-warning" href={%url 'paso5'%}>Paso 5</a>
        </div>
      </div>
    {% endif %}
    {%if progreso > 64 %}
      <div class="p-3 border bg-success" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       <a class="btn btn-success" href={%url 'paso5'%}>Paso 5</a>
        </div>
      </div>
    {% endif %}
    {%if progreso < 64 %}
      <div class="p-3 border bg-danger" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       <a class="btn btn-danger disabled text-white">Paso 5</a>
        </div>
      </div>
    {% endif %}
    </div>
    <div class="col">
    {%if progreso == 86 %}
      <div class="p-3 border bg-warning" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       <a class="btn btn-warning" href={%url 'paso6'%}>Paso 6</a>
        </div>
      </div>
    {% endif %}
    {%if progreso > 86 %}
      <div class="p-3 border bg-success" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       <a class="btn btn-success" href={%url 'paso6'%}>Paso 6</a>
        </div>
      </div>
    {% endif %}
    {%if progreso < 86 %}
      <div class="p-3 border bg-danger" style="--bs-bg-opacity: .5;">
        <div class="text-center">
       <a class="btn btn-danger disabled text-white">Paso 6</a>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
</div>

<p>

<h5>Progreso:</h5>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{progreso}}%;"
        aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
        {{progreso}}%
    </div>
</div>
<p>
{% if cronograma_existe %}
    {% include 'proyecto/cronograma_info.html'%}
{% endif %}
</p>

{% endblock %}
