{% extends 'proyecto/main.html' %}
{% block content %}
{% include 'proyecto/lista_docente_tutor.html' %}
{% comment %}<div class="link-primary" style="text-align:center">{% endcomment %}
    {% comment %}<p><a href={%url 'paso1'%}>Paso 1</a><p>{% endcomment %}
    {% comment %}<p><a href={%url 'paso2'%}>Paso 2</a><p>{% endcomment %}
    {% comment %}<p><a href={%url 'paso3'%}>Paso 3</a><p>{% endcomment %}
    {% comment %}<p><a href={%url 'paso4'%}>Paso 4</a><p>{% endcomment %}
    {% comment %}<p><a href={%url 'paso5'%}>Paso 5</a><p>{% endcomment %}
    {% comment %}<p><a href={%url 'paso6'%}>Paso 6</a><p>{% endcomment %}
{% comment %}</div>{% endcomment %}
<div class="container">
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="text-center">
       <a class="btn btn-primary" href={%url 'paso1'%}>Paso 1</a>
        </div>
      </div>    
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="text-center">
       <a class="btn btn-colorido" href={%url 'paso2'%}>Paso 2</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="text-center">
       <a class="btn btn-success" href={%url 'paso3'%}>Paso 3</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="text-center">
       <a class="btn btn-danger" href={%url 'paso4'%}>Paso 4</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="text-center">
       <a class="btn btn-warning" href={%url 'paso5'%}>Paso 5</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="text-center">
       <a class="btn btn-dark" href={%url 'paso6'%}>Paso 6</a>
        </div>
      </div>
    </div>
  </div>
</div>

<p>
<h5>Progreso:</h5>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{progreso}}%;"
        aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
        {{progreso}}%
    </div>
</div>

{% endblock %}
