{% extends 'proyecto/main.html' %}
{% block content %}
<p>Búsqueda de proyectos de grado<br>
Ingrese el título de su perfil o proyecto de grado,<br>
no debe ser igual mayor al <strong>95% de similitud</strong>.</p>

<p>
{% comment %}<form class="d-flex" style="margin:auto;max-width:300px" method='post' action="" >{% endcomment %}
<form class="d-flex" method='post' action="" >
    {% csrf_token %}
    <input name="buscado" class="form-control me-2" type="search" placeholder="Proyecto de Grado" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
</form>
</p>
<p>Se busco: <strong>{{ buscado }}</strong></p>
<p>{% for score, titulo in dicc_score.items %}
{{score}}% {{titulo}}<br>
{%endfor%}</p>

<p><a class="btn btn-danger" href={%url 'estudiante' %}>Atras</a>

{% if progreso.nivel < 21 %}
<a class="btn btn-success" href={%url 'confirmar_paso_1' %}>Completado</a></p>
{% endif %}

{% if progreso.nivel >= 21 %}
<h5>Paso Completado</h5>
{% endif %}

{% endblock %}
