{% extends 'proyecto/main.html' %}
{% block content %}
<h4>Elaboración del Proyecto de Grado y Revisión</h4>

{% if sala_doc.tipo == 'proyecto'%}
  <div class='text-right'><a target=_blank href={% url 'reportes:capitulos-tutor' sala_doc.equipo.id %}>Imprimir Plantilla Observación Tutor</a></div>
  {% if salas_doc.0.visto_bueno %}
    <div class='text-right'><a target=_blank href={%url 'reportes:carta_final' sala_doc.equipo.id %}>Carta de Conclusión</a></div>
  {% endif %}
{% endif %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Actividad</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href={%url 'cronograma_control'%}>Cumplir con Cronograma</a>
      </td>
      <td>
        {% if sala_doc.grupo_revisor.name == 'docente' and sala_doc.visto_bueno%}
          <i class="fas text-success fa-check"></i> Cumplido
        {% else %}
          <i class="fas text-danger fa-graduation-cap"></i> Pendiente
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <a href={%url 'revisar:revisar_documento' sala_doc.tipo sala_doc.revisor.id %}>Revisión de Proyecto de Grado</a>
      </td>
      <td>
        {% if sala_doc.grupo_revisor.name == 'docente' and sala_doc.visto_bueno%}
        <i class="fas text-success fa-check"></i> Cumplido
        {% else %}
        <i class="fas text-danger fa-graduation-cap"></i> Pendiente
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        {% if sala_doc.grupo_revisor.name == 'docente' and sala_doc.visto_bueno%}
        {% if not proyecto_grado %}
        <a href={%url 'registro_proyecto'%}>Registrar Proyecto de Grado para calificación</a>
        {% endif %}
        {% else %}
        <a class="btn disabled" href=#>Registro Proyecto de Grado</a>
        {% endif %}
        {% if proyecto_grado and proyecto.0.calificacion %}
        <a href={%url 'ver_proyecto_grado'%}>Proyecto de Grado Registrado y Calificado</a>
        {% endif %}
        {% if proyecto and not proyecto.0.calificacion %}
        <a href={%url 'ver_proyecto_grado'%}>Proyecto de Grado, Esperando Nota</a>
        {% endif %}
      </td>
      <td>
        {% if sala_doc.grupo_revisor.name == 'docente' and sala_doc.visto_bueno%}
        {% if not proyecto_grado %}
        <i class="fas text-danger fa-graduation-cap"></i> Pendiente
        {% endif %}
        {% else %}
        <i class="fas text-danger fa-graduation-cap"></i> Pendiente
        {% endif %}
        {% if proyecto_grado and proyecto.0.calificacion %}
        <i class="fas text-success fa-check"></i> Cumplido
        {% endif %}
        {% if proyecto and not proyecto.0.calificacion %}
        <i class="fas text-warning fa-graduation-cap"></i> Pendiente
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>

<p><a class="btn btn-danger" href={%url 'estudiante' %}>Atras</a>
{% comment %}{% if sala_doc.grupo_revisor.name == 'docente' and sala_doc.visto_bueno and proyecto.0.calificacion and proyecto_grado%}{% endcomment %}
{% comment %}{% if progreso < 86 %}{% endcomment %}
{% comment %}<a class="btn btn-success" href={%url 'confirmar_paso_5' %}>Completado</a></p>{% endcomment %}
{% comment %}{% endif %}{% endcomment %}
{% comment %}{% if progreso >= 86 %}{% endcomment %}
{% comment %}<h5>Paso Completado</h5>{% endcomment %}
{% comment %}{% endif %}{% endcomment %}
{% comment %}{% endif %}{% endcomment %}


{% endblock %}
