{% extends 'proyecto/main.html' %}
{% block content %}
<p>
paso 3<p>
Busqueda del tutor.<p>
Registrar al tutor para que ingrese al sistema.<p>

{% comment %}{% if tutor.nombre == 'sin_tutor' %}{% endcomment %}
{% if not tutor %}
<p>
<form class="d-flex" style="margin:auto;max-width:300px" method='post'
                     action="" >
    {% csrf_token %}
    <input name="agregar_tutor" class="form-control me-2" type="email"
    placeholder="Registrar Email Tutor" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Enviar</button>
</form>
<p>

{% else %}
    Su tutor es: <a href="{% url 'enlace_tutor' tutor.id %}">
    {{tutor.nombre}} 
    {{tutor.apellido}}</a>
    <p>
{% endif %}

<a class="btn btn-danger" href={%url 'estudiante' %}>Atras</a><p>
{% endblock %}
