{% extends 'proyecto/main.html' %}
{% block content %}
{% include 'proyecto/lista_docente_tutor.html' %}
<div class="container">
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="text-center">
       <a class="btn btn-primary" href={%url 'paso1'%}>Paso 1</a>
        </div>
      </div>    
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="text-center">
    {%if progreso >= 14%}
       <a class="btn btn-colorido" href={%url 'paso2'%}>Paso 2</a>
    {% endif %}
    {%if progreso < 14%}
       <a class="btn btn-colorido disabled" href={%url 'paso2'%}>Paso 2</a>
    {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="text-center">
    {%if progreso >= 21 %}
       <a class="btn btn-success" href={%url 'paso3'%}>Paso 3</a>
    {% endif %}
    {%if progreso < 21 %}
       <a class="btn btn-success disabled" href={%url 'paso3'%}>Paso 3</a>
    {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="text-center">
    {%if progreso >= 35%}
       <a class="btn btn-danger" href={%url 'paso4'%}>Paso 4</a>
    {% endif %}
    {%if progreso < 35 %}
       <a class="btn btn-danger disabled" href={%url 'paso4'%}>Paso 4</a>
    {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="text-center">
    {%if progreso >= 64 %}
       <a class="btn btn-warning" href={%url 'paso5'%}>Paso 5</a>
    {% endif %}
    {%if progreso < 64 %}
       <a class="btn btn-warning disabled" href={%url 'paso5'%}>Paso 5</a>
    {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <div class="text-center">
    {%if progreso >= 86 %}
       <a class="btn btn-dark" href={%url 'paso6'%}>Paso 6</a>
    {% endif %}
    {%if progreso < 86 %}
       <a class="btn btn-dark disabled " href={%url 'paso6'%}>Paso 6</a>
    {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<p>
<h5>Progreso:</h5>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{progreso}}%;"
        aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
        {{progreso}}%
    </div>
</div>

{% endblock %}
