{% extends 'proyecto/main.html' %}
{% block content %}
<p>Revisión del Perfil de Proyecto de Grado por el Docente ETN-1040 y el Tutor<br> 
para obtener el <strong>Visto Bueno</strong> y registro del Perfil de Proyecto de Grado<p>

<p><a href={%url 'revisar:revisar_documento' sala_doc.tipo sala_doc.revisor.id %}>Revisión de Perfil</a>

{% if sala_doc.grupo_revisor.name == 'docente' and sala_doc.visto_bueno%}
    <i class="fas text-success fa-check"></i></p>
{% else %}
    <i class="fas text-danger fa-graduation-cap"></i></p>
{% endif %}

{% if registro_perfil_existe %}
    <p><a href={%url 'ver_perfil_registrado'%}>Perfil de Proyecto de Grado</a>
    <i class="fas text-success fa-check"></i></p>
{% else %}
    {% comment %}{% if estudiante.vb_perfil_docente and estudiante.vb_perfil_tutor %}{% endcomment %}
    {% if sala_doc.grupo_revisor.name == 'docente' and sala_doc.visto_bueno%}
        <p><a href={%url 'registro_perfil'%}>Registro de Perfil</a>
        <i class="fas text-danger fa-graduation-cap"></i></p>
    {% else %}
        <p><a class="btn disabled" href#=>Registro de Perfil</a>
        <i class="fas text-danger fa-graduation-cap"></i></p>
    {% endif %}
{% endif %}

{% if registro_perfil_existe%}
    {% if estudiante.registrocronograma%}
    <p><a href={%url 'cronograma_actividad'%}>Ver de Cronograma</a>
    <i class="fas text-success fa-check "></i></p>
    {% else %}
    <p><a href={%url 'cronograma_actividad'%}>Registro de Cronograma</a>
    <i class="fas text-danger fa-graduation-cap"></i></p>
    {%endif%}
{% else %}
<p><a class="btn disabled" href=#>Registro de Cronograma</a>
<i class="fas text-danger fa-graduation-cap"></i></p>
{% comment %}<p><a href={%url 'carta_solicitud_tutor'%}>Carta solicitud de tutoría</a></p>{% endcomment %}
{% comment %}<p><a href={%url 'carta_aceptacion_tutor'%}>Carta aceptacion de tutoría</a></p>{% endcomment %}
{% endif %}
{{form1_blanco}}
{% if registro_perfil_existe %}
    {% if estudiante.registrocronograma%}
        <p><a href={%url 'formulario_1' estudiante.id %}>Formulario 1 - Aprobación de Perfil</a>
        <i class="fas text-success fa-check "></i>
        <a href="/media/formularios/form1.pdf">En blanco</a></p>
    {% else %}
        <p><a class="btn disabled" href=#>Formulario de Aprobación</a>
        <i class="fas text-danger fa-graduation-cap"></i></p>
    {%endif%}
{% else %}
{% comment %}<p><a class="btn disabled" href={%url 'carta_solicitud_tutor'%}>Carta solicitud de tutoría</a></p>{% endcomment %}
{% comment %}<p><a class="btn disabled" >Carta aceptacion de tutoría</a></p>{% endcomment %}
    <p><a class="btn disabled" href=#>Formulario 1 - Aprobación de Perfil</a>
    <i class="fas text-danger fa-graduation-cap"></i></p>
{% endif %}

<p><a class="btn btn-danger" href={%url 'estudiante' %}>Atras</a>

{% if perfil and estudiante.registrocronograma %}
{% if progreso.nivel < 64 %}
<a class="btn btn-success" href={%url 'confirmar_paso_1' %}>Completado</a></p>
{% endif %}
{% if progreso.nivel >= 64 %}
<h5>Paso Completado</h5>
{% endif %}
{% else %}
<a class="btn btn-success disabled" href={%url 'confirmar_paso_1' %}>Completado</a>
No se registro aún el perfil y el cronograma
{% endif %}

{% endblock %}
