{% extends 'proyecto/main.html' %}
{% block content %}

<h4>Revisión Tribunal</h4>

{% if estudiante.equipo.solicitud_tribunal_docente and estudiante.equipo.tribunales.count < 2%}
  <div class="alert alert-primary" role="alert">
    El docente solicitó tribunales a Jefatura de carrera. Aún así debes de realizar
    los trámites necesarios para dirección.
  </div>
{% endif %}

{% if not estudiante.equipo.tribunales.count < 2%}
  {% include 'proyecto/lista_tribunal_asignado.html'%}
{% endif %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Formulario</th>
      <th scope="col">En blanco</th>
      <th scope="col">Escaneado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a class="btn btn-primary" target=_blank href={%url 'reportes:formulario_solicitud_tribunal' estudiante.id %}>
          Solicitud Nombramiento Tribunal
        </a>
      </td>
      <td>
        &nbsp; <a class="btn btn-secondary" target=_blank href="/media/formularios/form4.pdf">En Blanco</a>
      </td>
      <td>
        <a class="btn
          {% if doc_solicitud_tribunal.archivo %}
            btn-success
          {% else %}
            btn-danger
          {% endif %}
          " href={% url 'documentos:subir_documento' "formulario_solicitud_tribunal" estudiante.id %}>
          Subir formulario escaneado
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a class="btn btn-primary" target=_blank href={%url 'reportes:formulario_registro_seguimiento' estudiante.id %}>
          Registro y Seguimiento
        </a>
        &nbsp;
        <a class='btn btn-warning' href={%url 'reportes:auspicio_f3' estudiante.id %}>Si tienes auspicio</a>
      </td>
      <td>
        &nbsp; <a class="btn btn-secondary" target=_blank href="/media/formularios/form_registro_seguimiento.pdf">En Blanco</a>
      </td>
      <td>
        <a class="btn
          {% if doc_registro_seguimiento.archivo %}
            btn-success
          {% else %}
            btn-danger
          {% endif %}
          " href={% url 'documentos:subir_documento' "formulario_registro_seguimiento" estudiante.id %}>
          Subir formulario escaneado
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a class="btn btn-primary" target=_blank href={%url 'reportes:formulario_materia' estudiante.id %}>
          Materia: Proyecto Abstract
        </a>
      </td>
      <td>
        &nbsp; <a class="btn btn-secondary" target=_blank href="/media/formularios/form_descripcion_tema_blanco.pdf">En Blanco</a>
      </td>
      <td>
        <a class="btn
          {% if doc_materia.archivo %}
            btn-success
          {% else %}
            btn-danger
          {% endif %}
          " href={% url 'documentos:subir_documento' "formulario_materia" estudiante.id %}>
          Subir formulario escaneado
        </a>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Actividad</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {% if estudiante.equipo.registroproyectotribunal.nota and is_nota_tribunal_2 %}
        <a href={%url 'ver_proyecto_tribunal'%}>Proyecto de Grado Final Revisado por tribunal</a>
        {% elif estudiante.equipo.registroproyectotribunal%}
        <a href={%url 'ver_proyecto_tribunal'%}>Proyecto Registrado, Esperando nota</a>
        {% elif visto_bueno %}
        <a href={%url 'registro_proyecto_tribunal'%}>Registrar Proyecto Tribunal</a>
        {% else %}
        <a class="btn disabled" href=#>Registro Proyecto Tribunal</a>
        {% endif %}
      </td>
      <td>
        {% if estudiante.equipo.registroproyectotribunal.nota and is_nota_tribunal_2 %}
          <i class="fas text-success fa-check"></i> Cumplido
        {% elif estudiante.equipo.registroproyectotribunal%}
          <i class="fas text-warning fa-graduation-cap"></i> Pendiente
        {% elif visto_bueno %}
          <i class="fas text-danger fa-graduation-cap"></i> Pendiente
        {% else %}
          <i class="fas text-danger fa-graduation-cap"></i> Pendiente
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>

<p><a class="btn btn-danger" href={%url 'estudiante' %}>Atras</a>

{% if is_nota_tribunal_2 and not is_conclusion%}
  <a class="btn btn-success" href={%url 'confirmar_paso_6' %}>Completado</a></p>
{% endif %}

{% endblock %}
