{% extends 'proyecto/main.html' %}
{% block content %}
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
<p>Registrar al tutor para que ingrese al sistema.<br>
Ingrese el e-mail del tutor y espere que acepte su solicitud.</p>


{% comment %}{% if tutor.nombre == 'sin_tutor' %}{% endcomment %}
{% if not tutor and estudiante.tutor_acepto %}
<p>
<form class="d-flex" style="margin:auto;max-width:300px" method='post'
                     action="" >
    {% csrf_token %}
    <input name="agregar_tutor" class="form-control me-2" type="email"
    placeholder="Registrar Email Tutor" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Enviar</button>
</form>
</p>
{% endif %}

{% if tutor and not estudiante.tutor_acepto %}
<p>Se solicitó tutoria a:
<a href="{% url 'enlace_tutor' tutor.id %}">{{tutor.nombre}} {{tutor.apellido}}</a><br>
Espere hasta que acepte su solicitud
<i class="fas fa-user-clock text-primary"></i>
</p>
{% endif %}

{% if tutor and estudiante.tutor_acepto%}
<p>El <strong>Ing. {{tutor}}</strong> aceptó la solicitud de tutoría
<i class="fas fa-user-check text-success"></i>
</p>
<p><a href={%url 'reporte_tutor_acepto'%}>Carta de Aceptación para DMA</a></p>
{% endif %}

<a class="btn btn-danger" href={%url 'estudiante' %}>Atras</a><p>
{% endblock %}
