{%  extends 'proyecto/main.html' %}
{% block content %}            

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>
<div class="row">
	<div class="col-md-5">
		<h5>FIRMA</h5>
		<hr>
		<div class="card card-body">
      {% if grupo == 'tutor'%}
        <img class="profile-pic" src="{{usuario.datostutor.firma.url}}" >
        <a class="btn btn-primary" href={{ usuario.datostutor.firma.url }}>Ver Firma</a>
        <a class="btn btn-danger" href="{% url 'cargar_firma' %}">Cambiar Firma</a>
      {% elif grupo == 'docente'%}
        <img class="profile-pic" src="{{usuario.datosdocente.firma.url}}">
        <a class="btn btn-primary" target=_blank href={{ usuario.datosdocente.firma.url }}>Ver Firma</a><br><br>
        <a class="btn btn-danger" href="{% url 'cargar_firma' %}">Cambiar Firma</a>
      {% endif %}
		</div>
	</div>

	<div class="col-md-7">
    {% include 'proyecto/documentos_firma.html'%}
	</div>
</div> 


{% endblock %}

