{% extends 'proyecto/main.html' %}
{% load static %}
{% block content %}
<h5>Solicitud de estudiantes:</h5>
{{aviso}}<p>
{{info}}
{% comment %}<input type="checkbox" class="btn-check" id="btn-check-outlined"{% endcomment %}
                                         {% comment %}autocomplete="off" value="{{form}}">{% endcomment %}
{% comment %}<label class="btn btn-outline-primary" for="btn-check-outlined">Habilitar</label><br>{% endcomment %}
{% comment %}<input type="checkbox" class="btn-check" id="btn-check-outlined2" autocomplete="off">{% endcomment %}
{% comment %}<label class="btn btn-outline-danger" for="btn-check-outlined2">Eliminar</label><br>{% endcomment %}
{% comment %}<div class="form-check">{% endcomment %}
  {% comment %}<input class="form-check-input" type="radio" name="exampleRadiosArriba" id="exampleRadios1" value="option1" checked>{% endcomment %}
  {% comment %}<label class="form-check-label" for="exampleRadios1">{% endcomment %}
    {% comment %}Default radio{% endcomment %}
  {% comment %}</label>{% endcomment %}
{% comment %}</div>{% endcomment %}
{% comment %}<div class="form-check">{% endcomment %}
  {% comment %}<input class="form-check-input" type="radio" name="exampleRadiosArriba" id="exampleRadios2" value="option2">{% endcomment %}
  {% comment %}<label class="form-check-label" for="exampleRadios2">{% endcomment %}
    {% comment %}Second default radio{% endcomment %}
  {% comment %}</label>{% endcomment %}
{% comment %}</div>{% endcomment %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">R.U.</th>
      <th scope="col">Estudiante Solicitante</th>
      <th scope="col">Habilitar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
{% for solicitud in solicitudes %}
    <tr>
        <th scope="row">{{solicitud.registro_uni}}</th>
      <td><a href="{% url 'enlace_solicitante' solicitud.pk %}">
              {{solicitud.apellido}}, {{solicitud.nombre}}</a>
      {% comment %}<td><a href="#">{{solicitud.apellido}}, {{solicitud.nombre}}</a>{% endcomment %}
      </td>
<form action='' method='POST'>
    {% csrf_token %}
        <td>
       <button type="submit" name='habilitar' class="btn btn-outline-success"
            value={{solicitud.pk}}>Habilitar</button>
        </td>
        <td> 
        <button type="submit" name='eliminar' class="btn btn-outline-danger"
            value={{solicitud.pk}}>Eliminar</button>
        </td>
</form> 
    </tr>
{% endfor %}

  </tbody>
</table>
{% endblock %}
