{% extends 'proyecto/main.html' %}
{% block content %}
<h5>Lista de estudiantes ETN-1040, Proyecto de Grado:</h5>
<table class="sortable table table-striped">
  <thead>
    <tr>
      <th scope="col">R.U.</th>
      <th scope="col" class="text-center">Estudiante</th>
      <th scope="col">Grupo</th>
      <th scope="col">Docente</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>

  {%for est in datos_est %}
  {% if not est.equipo.is_concluido %}
    <tr>
      <th scope="row">{{est.registro_uni}}</th>
        <td>
          <div class="d-grid gap-2 col-8 mx-auto">
            <a class="btn btn-primary" href="{% url 'enlace_estudiante' est.id %}">
              {{est}}
            </a>
          </div>
        </td>
      <th scope="row">{{est.grupo_doc.grupo}}</th>
      <th scope="row">{{est.grupo_doc.apellido}}</th>
      <td><a class="btn btn-danger" href="{% url 'eliminar_usuario' est.usuario_id %}">Eliminar</a></td>
    </tr>
  {% endif %}
  {% endfor %}

  </tbody>
</table>
{% endblock %}
