{% extends 'proyecto/main.html' %}
{% block content %}
<h5>Lista de estudiantes ETN-1040, Proyecto de Grado:</h5>
<table class="sortable table table-striped">
  <thead>
    <tr>
      <th scope="col">R.U.</th>
      <th scope="col">Estudiante ETN-1040</th>
      <th scope="col">Grupo</th>
      <th scope="col">Docente</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
  <tr>
{%for est in datos_est %}
<th scope="row">{{est.registro_uni}}</th>
  <td><a class="text-underline-hover" href="{% url 'enlace_estudiante' est.id %}">{{est.apellido}}, {{est.nombre}}</a></td>
<th scope="row">{{est.grupo_doc.grupo}}</th>
<th scope="row">{{est.grupo_doc.apellido}}</th>
<td><a class="text-underline-hover" href="{% url 'eliminar_usuario' est.usuario_id %}">Eliminar</a></td>
  </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
