<table class="table table-striped">
<thead>
    <tr>
    <th scope="col">Tribunal asignado</th>
    <th scope="col">Revisión</th>
    <th scope="col">Visto Bueno</th>
    </tr>
</thead>
    <tbody>
    {% for tribunal in estudiante.tribunales.all %}
        <tr>
        <td><a href={% url 'enlace_tribunal' tribunal.id %}>{{tribunal}}</a><br></td>
        <td><a href={% url 'entrega_tribunal' tribunal.id estudiante.id%}>Ingresar</a></td>
        <td><div class="d-inline p-1 bg-danger text-white">Sin Visto Bueno</div></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
