<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Tribunal asignado</th>
      {% if grupo == 'estudiante'%}
        <th scope="col">Revisión</th>
      {% endif %}
      <th scope="col">Visto Bueno</th>
    </tr>
  </thead>
  <tbody>
    {% for tribunal, vb in tribunales_vb.items %}
    <tr>
      <td>
        <div class="d-grid gap-2 col-8 mx-auto">
          <a class="btn btn-primary" href={% url 'enlace_tribunal' tribunal.id %}>
            {{tribunal}}
          </a>
        </div>
      </td>
      {% if grupo == 'estudiante'%}
        <td>
          <a class="btn btn-success" href={% url 'revisar_documentos:revisar_documento_estudiante' "tribunal" tribunal.usuario.id %}>
          Ingresar
          </a>
        </td>
      {% endif %}
      {% if vb %}
        <td>
          <div class="alert alert-success" role="alert">
            Visto Bueno OK
          </div>
        </td>
      {% else %}
        <td>
          <div class="alert alert-danger" role="alert">
            Sin visto bueno
          </div>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
