<table class="table table-striped">
  <tbody>
    <tr>
      <td>Docente: Ing. {{estudiante.grupo_doc.apellido}}</td>
      <td>
        <a href="{% url 'mensaje_personal' estudiante.grupo_doc.usuario.pk %}" class="btn btn-primary position-relative">
          Mensajes
          {% if not is_visto_docente %}
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
          {% endif %}
        </a>
      </td>
      <td><a href="{% url 'enlace_docente' estudiante.grupo_doc.id %}">Info</a></td>
    </tr>
    <tr>
      <td>Tutor: Ing. {{estudiante.equipo.tutor.apellido}}</td>

      {% if estudiante.equipo.tutor %}
        <td>
          <a href="{% url 'mensaje_personal' estudiante.equipo.tutor.usuario.pk %}" class="btn btn-primary position-relative">
            Mensajes
            {% if not is_visto_tutor %}
              <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span>
            {% endif %}
          </a>
        </td>
        <td><a href="{% url 'enlace_tutor' estudiante.equipo.tutor.id %}">Info</a></td>
      {% endif %}
    </tr>
  </tbody>
</table>
