<h5>Lista de estudiantes ETN-1040, Proyecto de Grado:</h5>
<table class="table table-striped">
  <thead>
    <tr>
    {%if grupo == 'administrador'%}
      <th scope="col">R.U.</th>
    {%endif%}
      <th scope="col">Estudiante ETN-1040</th>
    {%if grupo == 'administrador'%}
      <th scope="col">Grupo</th>
      <th scope="col">Docente</th>
    {%endif%}
    {% if grupo == 'estudiante' or grupo == 'administrador' or grupo == 'docente' or grupo == 'tutor'%}
      <th scope="col">Mensajes</th>
    {% endif %}
      <th scope="col">Celular</th>
      <th scope="col">Correo Electrónico</th>
      <th scope="col">Info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
{%for est in datos_est %}
{%if grupo == 'administrador'%}
<th scope="row">{{est.registro_uni}}</th>
<td><a class="text-underline-hover" href="{% url 'enlace_estudiante' est.id %}">{{est.apellido}}, {{est.nombre}}</a></td>
{%endif%}

{%if grupo == 'docente' %}
<td><a class="text-underline-hover" href="{% url 'progreso_estudiante' est.id %}">{{est.apellido}}, {{est.nombre}}</a></td>
{%endif%}

{%if grupo == 'director' and est.progreso.nivel < 100%}
<td><a class="text-underline-hover" href="{% url 'progreso_estudiante' est.id %}">{{est.apellido}}, {{est.nombre}}</a></td>
<th scope="row">{{est.celular}}</th>
<th scope="row"><a href="mailto:{{est.correo}}?Subject=">{{est.correo}}</a></th>
<td scope="row"><a href="{% url 'enlace_estudiante' est.id%}">Info</a></td>
{%endif%}


{%if grupo == 'tutor' %}
    {%if est.tutor_acepto%}
    <td><a class="text-underline-hover" href="{% url 'progreso_estudiante' est.id %}">{{est.apellido}}, {{est.nombre}}</a></td>
    {% else %}
    <td><a class="text-underline-hover" href="{% url 'solicitud_tutoria' est.id %}"><strong>Solicitud</strong> {{est.apellido}}, {{est.nombre}}</a></td>
    {% endif %}
{%endif%}

{%if grupo == 'administrador'%}
<th scope="row">{{est.grupo_doc.grupo}}</th>
<th scope="row">{{est.grupo_doc.apellido}}</th>
{%endif%}

{%if grupo == 'tribunal' %}
<td><a class="text-underline-hover" href="{% url 'progreso_estudiante' est.id %}">{{est.apellido}}, {{est.nombre}}</a></td>
{%endif%}

{% if grupo == 'estudiante' or grupo == 'adminstrador' or grupo == 'docente' or grupo == 'tutor'%}
<td><a href="{% url 'mensaje_personal' est.usuario.pk %}">Mensajes</a></td>
{% endif %}

{% if grupo == 'tutor' or grupo == 'docente' or grupo == 'administrador' or grupo == 'tribunal'%}
<th scope="row">{{est.celular}}</th>
<th scope="row"><a href="mailto:{{est.correo}}?Subject=">{{est.correo}}</a></th>
<td scope="row"><a href="{% url 'enlace_estudiante' est.id%}">Info</a></td>
{% endif %}

    </tr>
{% endfor %}
  </tbody>
</table>
