{% extends 'proyecto/main.html' %}
{% block content %}
<h5>Lista de estudiantes titulados ETN-1040, Proyecto de Grado:</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Gestión</th>
      <th scope="col" class="text-center">Univesitario</th>
      <th scope="col">Docente</th>
      <th scope="col">Tutor</th>
    </tr>
  </thead>
  <tbody>
    {%for est in datos_est %}
      <tr>
        <th scope="row">{{est.fecha_conclusion.year}}</th>
          <td>
            <div class="d-grid gap-2 col-8 mx-auto">
              <a class="btn btn-primary" href="{% url 'enlace_estudiante_titulado' est.id %}">
                {{est}}
              </a>
            </div>
          </td>
        <th scope="row">
          {{est.docente}}
        </th>
        <th scope="row">
          {{est.tutor}}
        </th>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
