<h5>Lista de estudiantes ETN-1040, Proyecto de Grado:</h5>
<table class="sortable table table-striped">
  <thead>
    <tr>
    {%if grupo == 'administrador'%}
      <th scope="col">R.U.</th>
    {%endif%}
      <th scope="col">Estudiante ETN-1040</th>
    {%if grupo == 'administrador'%}
      <th scope="col">Grupo</th>
      <th scope="col">Docente</th>
    {%endif%}
    {% if grupo == 'estudiante' or grupo == 'administrador' or grupo == 'docente' or grupo == 'tutor'%}
      <th scope="col">Mensajes</th>
    {% endif %}
      <th scope="col">Celular</th>
      <th scope="col">Correo Electrónico</th>
      <th scope="col">Info</th>
    </tr>
  </thead>

  <tbody>
    {%for est, cantidad_aviso in datos_estudiantes.items %}
      <tr>
        {%if grupo == 'administrador'%}
          <th scope="row">{{est.registro_uni}}</th>
          <td>
            <div class="d-grid gap-2 col-8 mx-auto">
              <a class="text-underline-hover" href="{% url 'enlace_estudiante' est.id %}">
                {{est}}
              </a>
            </div>
          </td>
        {%endif%}

        {%if grupo == 'docente' %}
          <td>
            <div class="d-grid gap-2 col-8 mx-auto">
              <a href="{% url 'progreso_estudiante' est.equipo.id %}" 
                type="button" class="btn btn-primary position-relative"
                data-bs-toggle="tooltip" data-bs-placement="right" 
                title="{{cantidad_aviso.1}}">
                {{est}}
                {% if cantidad_aviso.0 != 0 %}
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{cantidad_aviso.0}}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                {% endif %}
              </a>
            </div>
          </td>
        {%endif%}

        {%if grupo == 'director' %}
          <td>
            <div class="d-grid gap-2 col-8 mx-auto">
              <a href="{% url 'progreso_estudiante' est.equipo.id %}" 
                type="button" class="btn btn-primary position-relative"
                data-bs-toggle="tooltip" data-bs-placement="right" 
                title="{{cantidad_aviso.1}}">
                {{est}}
                {% if cantidad_aviso.0 != 0 %}
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{cantidad_aviso.0}}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                {% endif %}
              </a>
            </div>
          </td>
          <th scope="row">{{est.celular}}</th>
          <th scope="row"><a href="mailto:{{est.correo}}?Subject=">{{est.correo}}</a></th>
          <td scope="row"><a class="btn btn-primary" href="{% url 'enlace_estudiante' est.id%}">Info</a></td>
        {%endif%}

        {%if grupo == 'tutor' %}
          {%if est.equipo.tutor_acepto%}
            <td>
              <div class="d-grid gap-2 col-8 mx-auto">
                <a href="{% url 'progreso_estudiante' est.equipo.id %}" 
                  type="button" class="btn btn-primary position-relative"
                  data-bs-toggle="tooltip" data-bs-placement="right" 
                  title="{{cantidad_aviso.1}}">
                  {{est}}
                  {% if cantidad_aviso.0 != 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{cantidad_aviso.0}}
                      <span class="visually-hidden">unread messages</span>
                    </span>
                  {% endif %}
                </a>
              </div>
            </td>

          {% else %}
            <td>
              <a class="btn btn-warning text-underline-hover" href="{% url 'solicitud_tutoria' est.equipo.id %}" name='solicitud_tutoria'><strong>Solicitud tutoría</strong> {{est}}</a>
            </td>
          {% endif %}
        {%endif%}

        {%if grupo == 'administrador'%}
          <th scope="row">{{est.grupo_doc.grupo}}</th>
          <th scope="row">{{est.grupo_doc.apellido}}</th>
        {%endif%}

        {%if grupo == 'tribunal' %}
          <td>
            <div class="d-grid gap-2 col-8 mx-auto">
              <a href="{% url 'progreso_estudiante' est.equipo.id %}" 
                type="button" class="btn btn-primary position-relative"
                data-bs-toggle="tooltip" data-bs-placement="right" 
                title="{{cantidad_aviso.1}}">
                {{est}}
                {% if cantidad_aviso.0 != 0 %}
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{cantidad_aviso.0}}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                {% endif %}
              </a>
            </div>
          </td>
        {%endif%}

        {% if grupo == 'estudiante' or grupo == 'administrador' or grupo == 'docente' or grupo == 'tutor'%}
          <td>
            <a href="{% url 'mensaje:enviar_mensaje_par' est.usuario.pk %}" class="btn btn-primary position-relative">
              Mensajes
              {% if not cantidad_aviso.2 %}
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                  <span class="visually-hidden">New alerts</span>
                </span>
              {% endif %}
            </a>
          </td>
        {% endif %}

        {% if grupo == 'tutor' or grupo == 'docente' or grupo == 'administrador' or grupo == 'tribunal'%}
          <th scope="row">{{est.celular}}</th>
          <th scope="row"><a href="mailto:{{est.correo}}?Subject=">{{est.correo}}</a></th>
          <td scope="row"><a class="btn btn-primary" href="{% url 'enlace_estudiante' est.id %}">Info</a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
