{% extends 'proyecto/main.html' %}
{% block content %}

<h3>Lista de tutores:</h3>
<table class="sortable table table-striped">
  <thead>
    <tr>
      <th scope="col">Tutor</th>
    {% if grupo == 'administrador'%}
      <th scope="col">Eliminar</th>
    {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for tutor in tutores %}
    <tr>
      <td><a class="text-underline-hover" 
    href="{% url 'enlace_tutor' tutor.id%}">Ing. {{tutor.apellido}} {{tutor.nombre}}</a></td>

    {% if grupo == 'administrador'%}
      <td><a class="text-underline-hover" href="{% url 'eliminar_usuario' tutor.usuario_id %}">Eliminar</a></td>
    {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<p><p><p>
{% if grupo == 'administrador'%}
<a class="btn btn-sm btn-info" href="{% url 'agregar_tutor' %}">Agregar
    Tutor</a><p>
{% endif %}
{% endblock %}
