{% extends 'proyecto/main.html' %}
{% block content %}

<h5>Lista de docentes:</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Grupo</th>
      <th scope="col">Docente</th>
      <th scope="col">Mención</th>
    </tr>
  </thead>
  <tbody>
    {% for docente in docentes %}
    <tr>
        <td>{{docente.grupo}}</td>
      <td><a class="text-underline-hover" href="{% url 'enlace_docente' docente.id %}">{{docente.apellido}},
              {{docente.nombre}}</a></td>
        <td>{{docente.mencion}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p><p><p>
<a class="btn btn-sm btn-info" href="{% url 'agregar_docente' %}">Agregar
    Docente</a><p>
{% endblock %}
