{% extends 'proyecto/main.html' %}
{% block content %}
<p>
{% include 'proyecto/crear_mensaje_personal.html'%}
<br>
<div class="card">
  <div class="card-header">
      Mensajes con: <strong>{{usuario_link.first_name}}
          {{usuario_link.last_name}}</strong>
  </div>
  <div class="card-body">
{%for mensaje in mensajes%}
<strong>{{mensaje.usuario.first_name}}</strong>: {{mensaje.texto}}
<div class="card-subtitle mb-2 text-muted">{{mensaje.fecha_creacion}}</div>
{%endfor%}
  </div>
</div>

{% endblock %}
