{% extends 'proyecto/main.html' %}
{% block content %}
<h3>Todos los comunicados que creaste</h3>
{%for comunicado in comunicados %}
**********************************
<p>
Tema:
{{comunicado.tema}}<p>
Contenido:
{{comunicado.texto}}<p>
Fecha de publicación:
{{comunicado.fecha_creacion}}<p>
**********************************

{%endfor%}
<p>
{% comment %}<a class="btn btn-primary" href="{% url 'crear_comunicado' %}">Crear Comunicado</a>{% endcomment %}
<a class="text-underline-hover" href="{% url 'crear_comunicado' %}">Crear Comunicado</a>

{% endblock %}
