{% load static %}
<style>
.hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

        {% if grupo == 'docente' or grupo == 'tutor' %}
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'perfil'%}">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'busqueda' %}">Búsqueda PG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mis_comunicados' %}">Mis Comunicados</a>
      </li>

        {% elif grupo == 'estudiante'%}
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'perfil'%}">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'busqueda' %}">Búsqueda PG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mensaje_personal' %}">
            Mensajes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'comunicados_doc_est' %}">
            Comunicados Doc</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'comunicados_tut_est' %}">
            Comunicados Tut</a>
      </li>
        {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'perfil'%}">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'busqueda' %}">Búsqueda PG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lista_estudiantes' %}">Estudiantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lista_docentes' %}">Docentes</a>
      </li>
        {% endif %}
    </ul>
  </div>

    {% if grupo == 'docente' or grupo == 'tutor' %}
  <span class="hello-msg">Bienvenido, Ing. {{ request.user.first_name }} </span>
  <span><a href="{% url 'logout' %}">Cerrar Sesión</a></span>
    {% elif grupo == 'estudiante'%}
  <span class="hello-msg">Bienvenido, Futuro(a) Ing. {{ request.user.first_name }} </span>
  <span><a href="{% url 'logout' %}">Cerrar Sesión</a></span>
    {% else %}
  <span class="hello-msg">Bienvenido, Don {{ request.user.first_name }} </span>
  <span><a href="{% url 'logout' %}">Cerrar Sesión</a></span>

    {% endif %}


</nav>

