{%  extends 'proyecto/main.html' %}
{% block content %}            
<h3>Información Personal</h3>
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
        {% if grupo == 'administrador' %}
			<img class="profile-pic" src="{{request.user.datosadministrador.imagen_perfil.url}}" >
        {% elif grupo == 'docente' %}
			<img class="profile-pic" src="{{request.user.datosdocente.imagen_perfil.url}}" >
        {% elif grupo == 'tutor' %}
			<img class="profile-pic" src="{{request.user.datostutor.imagen_perfil.url}}" >
        {% elif grupo == 'estudiante' %}
			{% comment %}<img class="profile-pic" src="{{request.user.datosestudiante.imagen_perfil.url}}" >{% endcomment %}
			<img class="profile-pic" src="{{request.user.datosestudiante.imagen_perfil_web}}" >
        {% elif grupo == 'director' %}
			<img class="profile-pic" src="{{request.user.datosdirector.imagen_perfil.url}}" >
        {% elif grupo == 'tribunal' %}
			<img class="profile-pic" src="{{request.user.datostribunal.imagen_perfil.url}}" >
        {% endif %}
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
{% if grupo == 'administrador'%}
    <p>
    Usuario: {{ request.user.datosadministrador.usuario }}<br> 
    Nombre: {{ request.user.datosadministrador.nombre }}<br>
    Apellido: {{ request.user.datosadministrador.apellido }}<br>
    Celular: {{ request.user.datosadministrador.celular }}<br>
    Correo Electrónico: {{ request.user.datosadministrador.correo}}</p>
{%elif grupo == 'estudiante' %}
<p>
    Usuario: {{ request.user.datosestudiante.usuario }}<br> 
    Nombre: {{ request.user.datosestudiante.nombre }}<br>
    Apellido: {{ request.user.datosestudiante.apellido }}<br>
    Celular: {{ request.user.datosestudiante.celular }}<br> 
    Correo Electrónico: {{ request.user.datosestudiante.correo}}<br> 
    Cédula de Identidad: {{ request.user.datosestudiante.carnet}} {{request.user.datosestudiante.extension}}<br> 
    Registro Universitario: {{ request.user.datosestudiante.registro_uni}}<br> 
    Mención: {{ request.user.datosestudiante.mencion}}<br> 
    Grupo: {{ request.user.datosestudiante.grupo_doc.grupo}}<br>
    Docente: <a href="{% url 'enlace_docente' request.user.datosestudiante.grupo_doc.id %}">
        {{ request.user.datosestudiante.grupo_doc.nombre}} 
        {{request.user.datosestudiante.grupo_doc.apellido}}</a><br>
    {% if request.user.datosestudiante.equipo.tutor %}
    Tutor: <a href="{% url 'enlace_tutor' request.user.datosestudiante.equipo.tutor.id %}">
    {{request.user.datosestudiante.equipo.tutor.nombre}} 
    {{request.user.datosestudiante.equipo.tutor.apellido}}</a></p>
    {% else %}
    Tutor: Aún no asignaste tutor</p>
    {% endif %}
    <a target=_blank href="{% url 'reportes:reporte_estudiante' request.user.datosestudiante.id %}">Reporte Actual</a>
{%elif grupo == 'docente' %}
    Usuario: {{ request.user.datosdocente.usuario }}<br> 
    Nombre: {{ request.user.datosdocente.nombre }}<br>
    Apellido: {{ request.user.datosdocente.apellido }}<br>
    Celular: {{ request.user.datosdocente.celular }}<br>
    Correo Electrónico: {{ request.user.datosdocente.correo}}<br>
    Mención: {{ request.user.datosdocente.mencion}}<br>
    Grupo : {{ request.user.datosdocente.grupo}}<br>
    Cantidad de Estudiantes: {{ request.user.datosdocente.datosestudiante_set.count}}<br>
{%elif grupo == 'tutor' %}
    Usuario: {{ request.user.datostutor.usuario }}<br> 
    Nombre: {{ request.user.datostutor.nombre }}<br>
    Apellido: {{ request.user.datostutor.apellido }}<br>
    Celular: {{ request.user.datostutor.celular }}<br>
    Correo Electrónico: {{ request.user.datostutor.correo}}<br>
    Cantidad de Estudiantes: {{ cantidad_estudiantes }}<br>
{%elif grupo == 'director' %}
    Usuario: {{ request.user.datosdirector.usuario }}<br> 
    Nombre: {{ request.user.datosdirector.nombre }}<br>
    Apellido: {{ request.user.datosdirector.apellido }}<br>
    Celular: {{ request.user.datosdirector.celular }}<br>
    Correo Electrónico: {{ request.user.datosdirector.correo}}<br>
{%elif grupo == 'tribunal' %}
    Usuario: {{ request.user.datostribunal.usuario }}<br> 
    Nombre: {{ request.user.datostribunal.nombre }}<br>
    Apellido: {{ request.user.datostribunal.apellido }}<br>
    Celular: {{ request.user.datostribunal.celular }}<br>
    Correo Electrónico: {{ request.user.datostribunal.correo}}<br>
{%elif grupo == 'solicitud' %}
    Usuario: {{ request.user.solicitudinvitado.usuario }}<br> 
    Nombre: {{ request.user.solicitudinvitado.nombre }}<br>
    Apellido: {{ request.user.solicitudinvitado.apellido }}<br>
    Celular: {{ request.user.solicitudinvitado.celular }}<br>
    Correo Electrónico: {{ request.user.solicitudinvitado.correo}}<br>
{%endif%}
		</div>
	</div>
</div>

<a href={% url 'editar_perfil' %}>Editar</a>
<div class='text-right'><a href={% url 'editar_password' %}>Cambiar Contraseña</a></div>
{% endblock %}

