{%  extends 'proyecto/main.html' %}
{% block content %}            
<h4>Progreso del estudiante: {{estudiante}}</h4>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{progreso}}%;"
        aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
        {{progreso}}%
    </div>
</div>
<br>

<a class="btn btn-warning" href={% url 'ver_cronograma' estudiante.id %}>Ver Cronograma</a>
{%if grupo == 'docente' and calificacion == None and not proyecto == None%}
<a class="btn btn-success" href={% url 'calificar_proyecto' estudiante.id %}>Calificar Proyecto</a>
{%endif%}
{%if grupo == 'docente' or grupo == 'tutor' and not calificacion == None%}
<h5 class='text-center'>La calificacion del Proyecto de Grado es: </h5>
<h3 class="text-center">* {{calificacion}} *</h3>
{%endif%}
{%if grupo == 'tutor' and calificacion == None and not proyecto == None%}
<h5 class='text-center'>El docente aún no puso la nota</h5>
<h5 class='text-center'>Pero el estudiante ya registró el Proyecto de Grado </h5>
{%endif%}
<p>


{% comment %}********* PROYECTO DE GRADO **************{% endcomment %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Revisión</th>
      <th scope="col">Asunto</th>
      <th scope="col">Proyecto</th>
      <th scope="col">Revisar</th>
    </tr>
  </thead>
  <tbody>
{%for s in salas_proy%}
    <tr>
<td>
<button class="btn btn-danger">{{s.sala}}</button>
</td>      

<td>
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Texto
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
      {{s.texto}}
  </div>
</div>
</td>      

<td>
    <a class="btn btn-danger" href="{{ s.material_estudiante.url }}">Archivo</a>
</td>
<td>
<a class="btn btn-primary" href="{% url 'sala_revisar_proyecto' s.id %}">Revisar</a>
</td>      

    </tr>
{%endfor%}
  </tbody>
</table>



{% comment %}********* PERFIL **************{% endcomment %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Revisión</th>
      <th scope="col">Asunto</th>
      <th scope="col">Perfil</th>
      <th scope="col">Revisar</th>
    </tr>
  </thead>
  <tbody>
{%for s in salas%}
    <tr>
<td>
<button class="btn btn-danger">{{s.sala}}</button>
</td>      

<td>
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Asunto
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
      {{s.texto}}
  </div>
</div>
</td>      

<td>
    <a class="btn btn-danger" href="{{ s.material_estudiante.url }}">Archivo</a>
</td>
<td>
<a class="btn btn-primary" href="{% url 'sala_revisar' s.id %}">Revisar</a>
</td>      

    </tr>
{%endfor%}
  </tbody>
</table>

<a class="btn btn-danger" href='/'> Atras</a>

<br>
{% endblock %}

