{%  extends 'proyecto/main.html' %}
{% block content %}            
<h4>Progreso del estudiante: {{estudiante}}</h4>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{progreso}}%;"
        aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
        {{progreso}}%
    </div>
</div>
<br>

<a class="btn btn-warning" href={% url 'ver_cronograma' estudiante.id %}>Ver Cronograma</a>
<p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Revisión</th>
      <th scope="col">Texto</th>
      <th scope="col">Perfil</th>
      <th scope="col">Revisar</th>
    </tr>
  </thead>
  <tbody>
{%for s in salas%}
    <tr>
<td>
<button class="btn btn-danger">{{s.sala}}</button>
</td>      

<td>
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Texto
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
      {{s.texto}}
  </div>
</div>
</td>      

<td>
    <a class="btn btn-danger" href="{{ s.material_estudiante.url }}">Archivo</a>
</td>
<td>
<a class="btn btn-primary" href="{% url 'sala_revisar' s.id %}">Revisar</a>
</td>      

{% comment %}<td>{% endcomment %}
{% comment %}<a href={%url 'sala_revisar' s.id %}>{{s.sala}}</a>{% endcomment %}
{% comment %}</td>      {% endcomment %}
    </tr>
{%endfor%}
  </tbody>
</table>

<a class="btn btn-danger" href='/'> Atras</a>

{% comment %}<div class="card">{% endcomment %}
    {% comment %}<h5>    {% endcomment %}
        {% comment %}<div class="card-header">{% endcomment %}
        {% comment %}{{info_estu.sala}}{% endcomment %}
        {% comment %}</div>{% endcomment %}
    {% comment %}</h5>{% endcomment %}
  {% comment %}<div class="card-body">{% endcomment %}
    {% comment %}<p class="card-text">{{info_estu.texto}}</p>{% endcomment %}
  {% comment %}</div>{% endcomment %}
  {% comment %}<div class="card-footer bg-transparent ">{% endcomment %}
    {% comment %}<a href="{{ info_estu.material_estudiante.url }}" class="card-link">Archivo</a>{% endcomment %}
  {% comment %}</div>{% endcomment %}
{% comment %}</div>{% endcomment %}
<br>
{% endblock %}

