{% include 'proyecto/crear_mensaje_personal.html'%}
<p>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
      <h2 class="accordion-header" id="headingDocente">
      <button class="accordion-button" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseDocente" 
                    aria-expanded="true"
                    aria-controls="collapseDocente">
          <strong>Revisión Docente</strong>
      </button>
    </h2>
    <div id="collapseDocente" class="accordion-collapse collapse show"
                    aria-labelledby="headingDocente" 
                    data-bs-parent="#accordionExample">
      <div class="accordion-body">
{%for m in mensajes_doc%}
<strong>{{m.usuario.first_name}}</strong>: {{m.texto}}
<div class="card-subtitle mb-2 text-muted">{{m.fecha_creacion}}</div>
{%endfor%}
      </div>
    </div>
  </div>
</div>

