{% extends 'proyecto/main.html' %}
{% block content %}
<h3>Título</h3>
{{proyecto.titulo.upper}}
<h3>Resumen</h3>
{{proyecto.resumen}}<br>
<p><a href="{{ proyecto.archivo.url }}">Proyecto de Grado Aprobado<a></p>

{% comment %} calificacion{% endcomment %}
{% if proyecto.calificacion %}

<h5><strong>Calificación del Proyecto de Grado</strong></h5>
<p>
Tiempo Elaboración (Max. 9%): <strong>{{proyecto.nota_tiempo_elaboracion}}</strong><br>
Exposiciones/Seminarios (Max. 6%): <strong>{{proyecto.nota_expos_seminarios}}</strong><br>
Informes de Trabajos (Max. 22%): <strong>{{proyecto.nota_informes_trabajo}}</strong><br>
Cumplimiento de Cronograma (Max. 3%): <strong>{{proyecto.nota_cumplimiento_cronograma}}</strong><br>
Total Calificación (Max. 40%): <strong>{{proyecto.calificacion}}</strong><br>
</p>
{% else %}
<h4 class="text-center">El docente aún no calificó el Proyecto de Grado</h4>
{% endif %}
<a class="btn btn-danger" href={%url 'paso5'%}>Atras</a>
{% endblock %}
