<p>
<strong>Calificación del Proyecto de Grado Docente ETN 1040</strong><br>
Tiempo Elaboración (Max. 9%): <strong>{{proyecto.nota_tiempo_elaboracion}}</strong><br>
Exposiciones/Seminarios (Max. 6%): <strong>{{proyecto.nota_expos_seminarios}}</strong><br>
Informes de Trabajos (Max. 22%): <strong>{{proyecto.nota_informes_trabajo}}</strong><br>
Cumplimiento de Cronograma (Max. 3%): <strong>{{proyecto.nota_cumplimiento_cronograma}}</strong><br>
Suma Calificación Docente ETN-1040 (Max. 40%): <strong>{{proyecto.calificacion}}</strong><br>
<strong>Calificación del Proyecto de Grado Tribunal</strong><br>
Calificación Tribunal (Max. 60%): <strong>{{estudiante.registroproyectotribunal.nota}}</strong><br>
<strong>Calificación Total</strong><br>
Calificacion Total (100%): <strong>{{estudiante.registroproyectotribunal.nota_final}}</strong><br>

</p>
