{% extends 'proyecto/main.html' %}
{% block content %}
<h3>Título</h3>
<a target=_blank href="{{ proyecto.archivo.url }}">
  {{proyecto.titulo.upper}}
</a>
<h3>Resumen</h3>
{{proyecto.resumen}}<br>

<h4>Índice</h4>
{{proyecto.indice}}<br>

<h4>Bibliografía</h4>
{{proyecto.bibliografia}}<br><br>

Fecha de creación: {{proyecto.fecha_creacion}}<br><br>

{% comment %} calificacion{% endcomment %}
{% if grupo == "estudiante" %}
  {% if notas_tribunales %}
      {% include 'proyecto/ver_nota.html' %}
  {% else %}
      <h4 class="text-center">El Tribunal aún no calificó el Proyecto de Grado</h4>
  {% endif %}
{% endif %}

{% comment %}<a class="btn btn-danger" href={%url 'paso6'%}>Atras</a>{% endcomment %}
<button class="btn btn-danger" onclick="history.back()">Atrás</button>
{% endblock %}
