{% extends 'proyecto/main.html' %}
{% block content %}
<h3>Título</h3>
{{proyecto.titulo.upper}}
<h3>Resumen</h3>
{{proyecto.resumen}}<br>
<p><a target=_blank href="{{ proyecto.archivo.url }}">Proyecto de Grado Aprobado<a></p>

{% if grupo == "estudiante" %}
  {% if proyecto.calificacion %}
      {% include 'proyecto/ver_nota.html'%}
  {% else %}
      <h4 class="text-center">El docente aún no calificó el Proyecto de Grado</h4>
  {% endif %}
{% endif %}
{% comment %}<a class="btn btn-danger" href={%url 'paso5'%}>Atras</a>{% endcomment %}
<button class="btn btn-danger" onclick="history.back()">Atrás</button>

{% endblock %}
