{% extends 'proyecto/main.html' %}
{% block content %}
<h3>Nota acumulada: {{suma}} puntos.</h3>
<h3>Calificar sobre: {{sala_revisar.nota_max}} puntos.</h3>

<form method="POST" enctype="multipart/form-data" name="myForm" onsubmit="return comprobar()">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="d-flex justify-content-evenly">
    <button type="submit" class="btn btn-success">Enviar</button>
  </div>
</form> 

<button class="btn btn-danger" onclick="history.back()">Atrás</button>

<script>
  let x = parseFloat(document.forms["myForm"]["id_nota"].value);
  console.log(x)

  function comprobar() {
    let nota_max = "{{sala_revisar.nota_max}}";
    nota_max = parseFloat(nota_max.replace(/,/g, '.'));
    console.log(nota_max)
    let nota = parseFloat(document.forms["myForm"]["id_nota"].value);
    console.log(nota)
    if ( nota == 0 ) {
      alert(`No asignar nota cero.`);
      return false;
    } else if (nota > nota_max){
      alert(`No se puede asignar más de {{sala_revisar.nota_max}} puntos.`);
      return false;
    }
  };
</script>
{% endblock %}
