{% extends 'proyecto/main.html' %}
{% block content %}

<h3>Configurar modo presentación de trabajos</h3> 
{% if configuracion.is_predeterminado %}
  <div class="alert alert-primary text-center" role="alert">
    <h4><strong>Modo: Predeterminado</strong></h4>
    Se generá automáticamente las salas pre-configuradas.
  </div>
{% else %}
  <div class="alert alert-success text-center" role="alert">
    <h4><strong>Modo: Personalizado</strong></h4>
    Se generá automáticamente las salas pre-configuradas.
  </div>
{% endif %}

<div class="d-flex flex-row-reverse bd-highlight">
  <a class="btn btn-secondary" href={% url "revisar_documentos:cambiar_predeterminado" equipo.id %}>
    Cambiar modo
  </a>
</div>

<a class="btn btn-warning" href={% url "revisar_documentos:crear_sala_personal" equipo.id %}>
  Crear Salas
</a>

<div class="row">

  <div class="col-md-6">
    <h4 class='text-center'><strong>PERSONALIZADO</strong></h4>
    <table class="sortable table table-striped">
      <thead>
        <tr>
          <th scope="col">Orden</th>
          <th scope="col" class="text-center">Asunto</th>
          <th scope="col">Detalle</th>
          <th scope="col">Máx. Nota {{suma_max}}</th>
          <th scope="col">Modificar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for sala in salas %}
          <tr>
            <td>
              {{sala.orden}}
            </td>
            <td>
              {{sala.asunto}}
            </td>
            <td>
              {{sala.detalle}}
            </td>
            <td>
              {{sala.nota_max}}
            </td>
            <td>
              <a class="btn btn-warning" href={% url "revisar_documentos:modificar_sala_personal" sala.pk equipo.pk %}>
                Modificar
              </a>
            </td>
            <td>
              <a class="btn btn-danger" href={% url "revisar_documentos:eliminar_sala_personal" sala.pk equipo.pk %}>
                Eliminar
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h4 class='text-center'><strong>PREDETERMINADO</strong></h4>
    <table class="sortable table table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">Asunto</th>
          <th scope="col">Detalle</th>
          <th scope="col">Máx. Nota 22</th>
        </tr>
      </thead>
      <tbody>
        {% for sala in salas_pre %}
        <tr>
          <td>
            {{sala.asunto}}
          </td>
          <td>
            {{sala.detalle}}
          </td>
          <td>
            {{sala.nota_max}}
          </td>
          <td>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

<a class="btn btn-danger" href={% url "revisar_documentos:revisar_documento_revisor" "proyecto" equipo.id %}>
  Atrás
</a>

{% endblock %} 
