{% extends 'proyecto/main.html' %}
{% block content %}
{% if not suma_max >= 22 %}
  <h3>La suma total es {{suma_max}}%</h3>
  <h3>{{mensaje}}</h3>
  <form method="POST" enctype="multipart/form-data" name="myForm" onsubmit="return comprobar()">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-flex justify-content-evenly">
      <a class="btn btn-danger" href={% url "revisar_documentos:configurar" equipo.id %}>Cancelar</a>
      <button type="submit" class="btn btn-success">Crear</button>
    </div>
  </form> 
{% else %}
  <h3>Ya no se puede crear más salas</h3>
  <a class="btn btn-danger" href="{{ request.META.HTTP_REFERER }}">Atras</a>
{% endif %}

<script>
  function comprobar() {
    let suma = "{{suma_max}}";
    suma = parseFloat(suma.replace(/,/g, '.'));
    let x = parseFloat(document.forms["myForm"]["id_nota_max"].value);
    suma_total = suma + x; 
    if ( x == 0 ) {
      alert(`No asignar nota cero.`);
      return false;
    } else if (suma_total > 22 ){
      alert(`La suma {{suma_max}} con la nota asignada ${x} excede los 22 puntos.`);
      return false;
    }

  };
</script>

{% endblock %}
