{% extends 'proyecto/main.html'%}
{% block content%}

{% if grupo == 'docente' and sala_doc.tipo == 'proyecto'%}
  {% if not suma_max == 22 %}
    <h3>La suma Max. Nota, debe ser igual a 22 puntos</h3>
  {% elif not is_calificacion_todo %}
    <h3>No se calificó todas las salas</h3>
  {% elif not registro_proyecto.archivo %}
    <h3>Antes de dar el visto bueno, debe registrar el documento final
    con todos sus datos</h3>
    <div class="d-flex justify-content-evenly">
      <a class="btn btn-warning" href={% url "revisar_documentos:registrar_documento" sala_doc.id %}>
        Registrar Documento
      </a>
    </div>
  {% else%}
    <h3>Seguro que desea dar el visto bueno al {{sala_doc.tipo|capfirst}} del estudiante: {{sala_doc.estudiante}} </h3>
    <form method="POST">
      {% csrf_token %}
      <div class="d-flex justify-content-evenly">
      <button type="submit" name='confirmar' class="btn btn-success" 
      value='si'>Confirmar</button>
      </div>
    </form>
  {% endif %}
{% elif grupo == "docente" and sala_doc.tipo == "perfil" %}
  {% if not is_cerrado %}
    <h3>No se cerraron todas las salas</h3>
  {% elif not registro_perfil.perfil %}
    <h3>Antes de dar el visto bueno, debe registrar el documento final
    con todos sus datos</h3>
    <div class="d-flex justify-content-evenly">
      <a class="btn btn-warning" href={% url "revisar_documentos:registrar_documento" sala_doc.id %}>
        Registrar Documento
      </a>
    </div>
  {% else%}
    <h3>Seguro que desea dar el visto bueno al {{sala_doc.tipo|capfirst}} del estudiante: {{sala_doc.estudiante}} </h3>
    <form method="POST">
      {% csrf_token %}
      <div class="d-flex justify-content-evenly">
      <button type="submit" name='confirmar' class="btn btn-success" 
      value='si'>Confirmar</button>
      </div>
    </form>
  {% endif %}
{% else%}
  {% if not is_cerrado %}
    <h3>No se cerraron todas las salas</h3>
  {% else %}
    <h3>Seguro que desea dar el visto bueno al {{sala_doc.tipo|capfirst}} del estudiante: {{sala_doc.estudiante}} </h3>
    <form method="POST">
      {% csrf_token %}
      <div class="d-flex justify-content-evenly">
      <button type="submit" name='confirmar' class="btn btn-success" 
      value='si'>Confirmar</button>
      </div>
    </form>
  {% endif %}
{% endif %}

<button class="btn btn-danger" onclick="history.back()">Cancelar</button>

{% endblock content%}
