{% extends 'proyecto/main.html' %}
{% block content %}
Modificar nota máxima
<form method="POST" enctype="multipart/form-data" name="myForm" onsubmit="return comprobar()">
  {% csrf_token %}
  {{ form.as_p }}
  <a class="btn btn-danger" href="{{ request.META.HTTP_REFERER }}">Atras</a>
  <button type="submit" name='enviar' class="btn btn-success"
      value='enviar'>Guardar</button>
</form>
<script>
  function comprobar() {
    let suma = "{{suma}}";
    suma = parseFloat(suma.replace(/,/g, '.'));
    let x = parseFloat(document.forms["myForm"]["id_nota_max"].value);
    suma_total = x + suma
    if ( x == 0 ) {
      alert(`No asignar nota cero.`);
      return false;
    } else if (suma_total > 22){
      alert(`La suma {{suma}} con la nota asignada ${x} excede los 22 puntos.`);
      return false;
    }
  };
</script>
{% endblock %}
