{% extends 'proyecto/main.html' %}
{% block content %}

{% if grupo == 'tutor' or grupo == 'docente'%}
  <div class="d-grid gap-2 col-6 mx-auto">
    {% if is_perfil_terminado %}
      <a class="btn btn-secondary" href={% url "revisar_documentos:revisar_documento_revisor" "perfil" equipo.id %}>
        Perfil
      </a>
    {% else %}
      {% if is_perfil_habilitado %}
        {% if grupo == "tutor" %}
          <a class="btn btn-primary" href={% url "revisar_documentos:revisar_documento_revisor" "perfil" equipo.id %}>
            Perfil
          </a>
        {% elif grupo == "docente" and is_vb_perfil_tutor %}
          <a class="btn btn-primary" href={% url "revisar_documentos:revisar_documento_revisor" "perfil" equipo.id %}>
            Perfil
          </a>
        {% else %}
          <button type="button" class="btn btn-secondary" disabled>
            Perfil
          </button>
        {% endif %}
      {% else %}
        <button type="button" class="btn btn-secondary" disabled>
          Perfil
        </button>
      {% endif %}
    {% endif %}
    {% if is_perfil_terminado %}
      {% if is_proyecto_terminado %}
        <a class="btn btn-secondary " href={% url "revisar_documentos:revisar_documento_revisor" "proyecto" equipo.id %}>
          Borrador de Proyecto de Grado
        </a>
      {% else %}
        {% if grupo == "tutor" %}
          <a class="btn btn-primary" href={% url "revisar_documentos:revisar_documento_revisor" "proyecto" equipo.id %}>
            Borrador de Proyecto de Grado
          </a>
        {% elif grupo == "docente" and is_vb_proyecto_tutor %}
          <a class="btn btn-primary" href={% url "revisar_documentos:revisar_documento_revisor" "proyecto" equipo.id %}>
            Borrador de Proyecto de Grado
          </a>
        {% else %}
          <button type="button" class="btn btn-secondary" disabled>
            Borrador de Proyecto de Grado
          </button>
        {% endif %}
      {% endif %}
    {% else %}
      <button type="button" class="btn btn-secondary" disabled>
        Borrador de Proyecto de Grado
      </button>
    {% endif %}
  </div>
{% endif %}

{% if grupo == 'tribunal' %}
  <div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" href={% url "revisar_documentos:revisar_documento_revisor" "tribunal" equipo.id %}>
      Proyecto de Grado
    </a>
  </div>
{% endif %}

<a class="btn btn-danger" href={% url "progreso_estudiante" equipo.id %}>
  Atrás
</a>

{% endblock %} 
