<br>
<br>
<div class="alert alert-warning text-center" role="alert">
  El proyecto debe ser calificado sobre el 22%, en necesario que <strong>Max. Nota</strong> 
  sume un total de 22%.
</div>
<h4 class='text-center'><strong>REVISIÓN DE {{sala_doc.tipo|upper}}</strong></h4>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <!--{% if sala_doc.equipo.cantidad > 1%}-->
        <!--<th scope="col">Creador</th>-->
      <!--{% endif %}-->
      <th scope="col">Asunto</th>
      <th scope="col">Detalle</th>
      <th scope="col">
        {% if sala_doc.visto_bueno %}
          <div class="d-inline p-2 bg-success text-white">Visto Bueno OK</div>
        {% else %}
          {% if dicc_salas %}
            <a href="{% url 'revisar_documentos:dar_visto_bueno' sala_doc.id %}" type="button" class="btn btn-outline-danger btn-sm" 
            data-bs-toggle="tooltip" data-bs-placement="right" title="Dar Visto Bueno">
            Dar Visto Bueno</a>
          {% else %}
            <a href=# type="button" class="btn btn-outline-danger btn-sm disabled" 
            data-bs-toggle="tooltip" data-bs-placement="right" title="Dar Visto Bueno">
            Dar Visto Bueno</a>
          {% endif %}
        {% endif %}
      </th>
      <th scope="col">Revisar</th>
        {% if grupo == 'docente' and sala_doc.tipo == 'proyecto'%}
          <th scope="col">Calificación {{suma}}/22</th>
        {% endif %}
      <th scope="col">Máx. Nota {{suma_max}}%</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {%for sala, no_visto_nota in dicc_salas.items %}
      <tr>                    
        <!--{% if sala_doc.equipo.cantidad > 1%}-->
          <!--<td>-->
            <!--{{sala.creado_por}} -->
          <!--</td>      -->
        <!--{% endif %}-->
        <td>
            {{sala.asunto}}
        </td>      
        <td>
          <p>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseExample{{sala.id}}" aria-expanded="false"
              aria-controls="collapseExample{{sala.id}}">
              Detalle
          </button>
          </p>
          <div class="collapse" id="collapseExample{{sala.id}}">
              <div class="card card-body">
                  {{sala.detalle}}
              </div>
          </div>
        </td>      
        <td>
          {% if sala.archivo_corregir %}
            <a class="btn btn-primary" target=_blank href="{{ sala.archivo_corregir.url }}">{{sala_doc.tipo|title}}</a>
          {% else %}
            <div class="alert alert-warning text-center" role="alert">
              El estudiante aún no subió el documento
            </div>
          {% endif %}
        </td>      
        <td>
          <a class="btn btn-primary position-relative" href={% url 'revisar_documentos:mensajes' sala.id %} type="button" name="observacion">
              Observación
          {% if no_visto_nota == 0 %}
              </a>
          {% else %}
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{no_visto_nota}}
                  <span class="visually-hidden">unread messages</span>
              </span>
              </a>
          {% endif %}
        </td>      
        {% if grupo == 'docente' and sala_doc.tipo == 'proyecto' %}
          <td>
            {% if sala.archivo_corregir %}
              {% if sala.nota == 0 %}
                <a class="btn btn-warning" href={% url "revisar_documentos:calificar_sala" sala.id %}>Calificar</a>
              {% else %}
                <div class="alert alert-success p-2 d-inline-flex ">
                  {{sala.nota}}% 
                </div>
              {% endif %}
            {% else %}
            <div class="alert alert-warning text-center" role="alert">
              No se subió el archivo
            </div>
            {% endif %}
          </td>      
        {% endif %}
        <td>
          {% if sala.is_calificado %}
            <div class="alert alert-success p-2 d-inline-flex ">
              {{sala.nota_max}}%
            </div>
          {% else %}
            <a class="btn btn-success" href={% url "revisar_documentos:modificar_nota_max" sala.id%}>
              {{sala.nota_max}}%
            </a>
          {% endif %}
        </td>      
        <td>
          {% if sala.is_calificado %}

          {% else %}
            <a class="btn btn-danger" href={% url "revisar_documentos:eliminar_sala_revisar" sala.id %}>
              Eliminar
            </a>
          {% endif %}
        </td>      
      </tr>
    {%endfor%}
  </tbody>
</table>
